.container {
  padding: 1.5rem 0rem;
  margin: auto;

  .career-wrap {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 1.5rem 0rem;

    h3 {
      margin-bottom: 0;
    }

    span {
      color: #707070;
      font-size: 14px;
    }

    .pay {
      color: #05bbe8;
      font-weight: 500;
    }

    .title {
      margin-bottom: 0;
      color: #707070;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: auto;
  }
}
