#career {
  background-image: linear-gradient(
      90deg,
      #05bbe842 5%,
      #05bbe842 42%,
      #05bbe842 100%
    ),
    url("../../../assets/images/wind_mill.jpg");
  background-size: cover;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
  }
}

.container {
  padding: 5rem 0rem 2rem;
  margin: auto;

  .career-wrap {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    margin: 1.5rem 0rem;

    h3 {
      margin-bottom: 0;
    }

    span {
      color: #707070;
      font-size: 14px;
    }

    .pay {
      color: #05bbe8;
      font-weight: 500;
    }

    .title {
      margin-bottom: 0;
      color: #707070;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: auto;
  }
}
