<section class="footer">
  <div class="container footer-upper">
    <div class="row">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <img
          src="../../../assets/images/republika-ng-pilipinas.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <p class="header">About</p>
        <p class="content">Mayor's message</p>
        <p class="content">Public servants</p>
        <p class="content">Announcements</p>
        <p class="content">Careers</p>
        <p class="content">Departments</p>
        <p class="content">About us</p>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
        <p class="header">Contact Us</p>
        <p class="content">
          <i class="bi bi-telephone-fill"></i>&nbsp;+(63) 9287 754 8952
        </p>
        <p class="content">
          <i class="bi bi-envelope-fill"></i>&nbsp;burgos@ilocosnorte.ph
        </p>
        <p class="content">
          <i class="bi bi-geo-alt-fill"></i>&nbsp;Burgos, Ilocos norte,
          Philippines
        </p>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="container footer-low">
        <div class="row">
          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
            <p class="small">
              ©2022 Municipality of Burgos, Province of Ilocos Norte
            </p>
          </div>
          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
            <div class="icon-wrapper">
              <i class="bi bi-facebook icon-list"></i
              ><i class="bi bi-instagram icon-list"></i>
              <i class="bi bi-twitter icon-list"></i
              ><i class="bi bi-youtube icon-list"></i>
            </div>
          </div>
          <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12">
            <p class="small">Powered by LGUSuite Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
