<div class="container">
  <div class="wrapper">
    <h3>Etymology</h3>
    <p>
      Burgos, a town of the Province of Ilocos Norte which lies at the
      Northwestern tip of Northern Luzon overlooking the West Philippine Sea
      came to existence in 1662.
    </p>
    <p>
      In the year 7 AD when the Chinese and Japanese sea traders arrived with
      their products for sale or barter with the Locoes (Ilocanos) who lived
      along the northern coast of the Philippine Archipelago. The sea traders
      sailed with much difficulty along the rocky shores of the village’s cape.
      Their arrivals would be known through the sound of drums while the Locoes
      sailed to meet them with their products at a designated point where their
      ships were anchored in order to barter with them.
    </p>
    <p>
      However, and most often, the traders would land on shore to do business.
      Whenever these sea traders are on land, they would always be fascinated
      with the carpet like white blooms with pinkish tint of madre de cacao
      diffusing strong fragrance while relishing the aromatic scent and extra
      ordinary taste of its seeds as brewed coffee.
    </p>
    <p>
      The natives adored much the flowers and seeds of the madre de cacao
      because of its many uses. They called the place Bangbanglo, meaning
      fragrance which was derived from the exquisite scent of the flowers and
      the brewed aromatic seeds of madre de cacao.
    </p>
    <p>
      In 1662, while the Spaniards spread Christianity in the northern part of
      the archipelago, an Augustinian priest named Fray Benito Salazar
      discovered the village of Bangbanglo while he was preaching.
      <i
        >(The Augustinian and Dominican priests listed the village Bangbanglo as
        Banban as indicated in the logbooks of 1591 and 1762. Bangbanglo was
        still then a part and visitas of Bacarra and Bangui.)</i
      >
    </p>
    <p>
      Burgos was first known as Nagparitan because a group of wild and fierce
      people who were extra-ordinarily tall known as Mamburi prohibited the
      Christians especially the Malayans to settle and build their homes, who
      likewise fled from the ravages of fierce and cruel Moros who frequented
      the coastal settlements of the Northwestern region of Luzon.
    </p>
    <p>
      Burgos was not easy to access either by land or by sea at the time so,
      feeling safer in this mountainous part of the region, the evacuees decided
      to stay in Nagparitan and held their ground. They were able to do so with
      the valiant defence achieved by the brave men among the Christians called
      Sarapa, Riuac, Ambayog and Serrano. They planted bamboos around Nagparitan
      to strengthen their defenses.
    </p>
    <p>
      The Spaniards settled in Nagparitan. But because of hard labor, slavery
      and other oppressing acts by the Spaniards, the people staged a revolt,
      captured a priest, dismembered parts of his body and scattered them in the
      locality. It was believed that soil where the body parts had been thrown
      turned red because at present there are parts of the locality wherein the
      soil is red. Due to this incident, the Spaniards changed the name
      Nagparitan which means “prohibit” to Nagpartian which means “place of
      slaughter”.
    </p>
  </div>
  <div class="wrapper">
    <h3>Creation and Socio-Economic-Political Development</h3>
    <p>
      During the American Regime in the year 1903, Nagpartian was incorporated
      with the Town of Bangui. Nagpartian became a barrio of Bangui for a period
      of about ten (10) years up to 1913. During that period, Nagpartian being
      an ordinary barrio, had been dependent to Bangui being its mother
      municipality. However, on the same year and as a result of increased
      revenues generated, Nagpartian was separated from the Municipality of
      Bangui and existed as an independent town.
    </p>
    <p>
      The name Nagpartian was changed to Burgos by virtue of Legislative Act No.
      2390 passed by the Fifth Legislative, Philippine Senate on February 28,
      1914 in honor of Fr. Jose Burgos, one of the three martyrs - Gomez,
      Burgos, and Zamora (GOMBURZA). The measure was enacted through the efforts
      of Hon. Santiago A. Fonacier, first Senatorial Representative of the
      Province of Ilocos Norte, duly signed by Governor General Francis Burton
      Harrison.
    </p>
    <p>
      The once more independent town was governed by the following illustrious
      men:
    </p>
    <ul>
      <li>Señor Juan Ignacio (1913)</li>
      <li>Felix Garcia (1938-1939)</li>
      <li>Marcial Calapini (1939-1943)</li>
      <li>Damaso Garcia (1943, Japanese Government)</li>
      <li>Bruno Garaza (1944, Japanese Government)</li>
      <li>Josefino Macadaeg (Military Government)</li>
      <li>Quirino Garalde (Military Government)</li>
      <li>Asisclo Pante (Military Government)</li>
      <li>Asisclo pante (1948-1952)</li>
      <li>Santos Lagpacan (1952-1955)</li>
      <li>Aldrico E. Ignacio, Sr. (1956-1972)</li>
      <li>Rodolfo L. Garcia (Acting Mayor) (1978)</li>
      <li>Rodolfo L. Garcia (1980-1986)</li>
      <li>
        Benjamin Espejo (OIC Mayor during EDSA) (June 17, 1986-October 13, 1987)
      </li>
      <li>Rodolfo L. Garcia (OIC Mayor) (October 14 - December 1, 1987)</li>
      <li>Ruperto Ignacio, Jr. (OIC Mayor) (January-February 1988)</li>
      <li>Rodolfo L. Garcia (1988-1995)</li>
      <li>Rodolfo L. Garcia (1995-1998)</li>
      <li>Benjamin Y. Campañano, Jr. (March 28-May 5, 1998)</li>
      <li>Ofelia Jimenez (OIC Mayor) (May 6-June 30, 1998)</li>
      <li>Benjamin Y. Campañano, Jr. (1998-2004)</li>
      <li>Benjamin Y. Campañano, Jr. (2004-2007)</li>
      <li>Crescente N. Garcia (2007-2010)</li>
      <li>Crescente N. Garcia (2010-2013)</li>
      <li>Crescente N. Garcia (2013-2016)</li>
      <li>Rodolfo L. Garcia (2016-2019)</li>
      <li>Crescente N. Garcia (2019-present)</li>
    </ul>
  </div>
</div>
