#history {
  background-image: linear-gradient(
      360deg,
      rgba(var(--primary-rgb), 0.83) 5%,
      rgba(var(--primary-rgb), 0.32) 62%,
      rgba(var(--primary-rgb), 0.14) 100%
    ),
    url("../../../../assets/images/light-hou.jpg");
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .container {
    position: absolute;
    padding: 0;
    bottom: -6%;

    h1 {
      color: var(--accent);
      font-size: 96px;
      font-weight: 700;
      letter-spacing: calc(1em * 0.01618);
      text-shadow: -3px 3px 8px rgba(var(--accent-200-rgb), 0.13333);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.08);
    }
  }
}

.floating-image {
  float: left;
  clear: both;
  width: 40%;
  margin: 24px 32px 24px 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    float: right;
    height: 200px;
  }
}

.container {
  padding: 3rem 0rem 2rem;

  p {
    font-size: 15px;
    color: #767676;
    text-align: justify;
  }

  ul {
    margin-left: 6.5rem;
    font-size: 15px;
    color: #767676;
  }

  li::marker {
    color: var(--primary);
    font-size: 17px;
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
    position: relative;

    h3 {
      margin: 0;
      font-weight: 500;
      color: var(--primary);
      font-size: 36px;

      position: relative;
      width: auto;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   height: 45%;
      //   width: 100.5%;
      //   bottom: 5%;
      //   left: 12px;
      //   background-color: rgba(var(--accent-rgb), 0.45);
      //   z-index: -1;
      // }
    }
  }
}

.cards {
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px -1px 33px -18px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 14vh;
  margin: auto;

  // background: linear-gradient(-120deg, var(--white) 72%, var(--primary) 42%);
  .grid-1 {
    width: 100%;
    //   margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mayor-container {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 14vh;
    min-width: 100%;

    border-radius: 2px;
    box-shadow: 0px -1px 33px -18px rgba(0, 0, 0, 0.75);

    padding: 16px;
    margin: 8px 0;

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: -65%;

      background: var(--primary);
      transform: skew(25deg);
    }
    // background: linear-gradient(-120deg, var(--white) 72%, var(--primary) 42%);

    & > * {
      z-index: 5;
    }
  }

  &.current {
    img {
      display: block;
      max-height: 256px;
      max-width: 256px;
      border-radius: 50%;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
      padding: 0;
    }
  }

  .servants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    .name {
      margin: 0;
      font-size: 15px;
      font-weight: 600;
      display: block;
      position: relative;
      color: #302e2e;
      font-size: 18px;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
    }

    .date {
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      display: block;
      color: var(--accent);
      font-size: 14px;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }
  }
}

.timeline-container {
  position: relative;
  background: linear-gradient(90deg, #f9f8fd94 73%, #f9f8fd94 60%),
    url("../../../../assets/images/mosaic.jpg");
  background-attachment: fixed;
}

.center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.timeline {
  max-width: 1080px;
  margin: 50px auto;
  padding: 5rem 20px;
  position: relative;
}

.timeline-event {
  display: flex;
  position: relative;
  min-height: 70px;

  &:last-child {
    min-heignt: 0;
  }

  &:nth-child(even) {
    justify-content: flex-start;

    & section::before {
      right: -7px;
    }

    & .timeline-dot {
      top: 25px;
      right: -52px;
      background: var(--primary);
    }
  }

  &:nth-child(odd) {
    justify-content: flex-end;

    & section::before {
      left: -7px;
    }
    & .timeline-dot {
      top: 25px;
      left: -52px;
      background: var(--accent);
    }
  }

  section {
    background-color: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: 0px 3.6px 5.2px rgba(0, 0, 0, 0.022),
      0px 12.4px 14px rgba(0, 0, 0, 0.042), 0px 20px 19px rgba(0, 0, 0, 0.05);

    &::before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      background-color: #fff;
      top: 28px;
      transform: rotate(45deg);
    }
  }
}

.timeline-dot {
  position: absolute;
  background: var(--primary);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 3px solid white;
}

.timeline-point-track-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    font-size: 18px;
    margin: 0;
  }

  .date {
    font-size: 14px;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  #history .container {
    h1 {
      font-size: 64px;
    }
  }
}

@media (max-width: 790px) {
  .center-line {
    left: 40px;
  }

  .timeline-event {
    margin: 30px 0 3px 60px;

    section {
      width: 100%;
    }

    &:nth-child(even) {
      justify-content: flex-start;

      & section::before {
        left: -7px;
      }

      & .timeline-dot {
        left: -52px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #history {
    .container {
      bottom: 0;
      h1 {
        font-size: 32px;
        text-shadow: -3px 3px 8px rgba(var(--accent-200-rgb), 0.25);
      }
    }
  }
  .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;

    ul {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 440px) {
  .timeline-point-track-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .center-line,
  .timeline-event section::before,
  .timeline-event section .timeline-dot {
    display: none;
  }
  .timeline-event {
    margin: 10px 0;
  }
}
