<h3 mat-dialog-title>
  {{ data ? "Update Bids & Awards" : "Add Bids & Awards" }}
</h3>
<mat-icon (click)="dialogRef.close()" class="close-btn" color="warn"
  >close</mat-icon
>
<mat-dialog-content>
  <app-spinner *ngIf="loading"></app-spinner>
  <section *ngIf="!loading">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="bidForm">
        <div style="padding: 1rem"></div>
        <form [formGroup]="bidForm">
          <ng-template matStepLabel>Service Information</ng-template>
          <mat-form-field appearance="fill" style="display: block">
            <mat-label>ID</mat-label>
            <input
              type="text"
              matInput
              formControlName="id"
              placeholder="Enter id"
              required
            />

            <mat-error *ngIf="bidForm.get('id')?.hasError('required')">
              Please enter ID
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" style="display: block">
            <mat-label>Description</mat-label>
            <input
              type="text"
              matInput
              formControlName="description"
              placeholder="Enter id"
              required
            />

            <mat-error *ngIf="bidForm.get('description')?.hasError('required')">
              Please enter Description
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" style="display: block">
            <mat-label>Type</mat-label>
            <mat-select type="select" formControlName="type" required>
              <mat-option *ngFor="let i of types" [value]="i">
                {{ i }}
              </mat-option> </mat-select
            ><mat-error *ngIf="bidForm.get('type')?.hasError('required')">
              Please select Type
            </mat-error>
          </mat-form-field>
          <mat-form-field
            *ngIf="bidForm.value.type === 'Invitation to Bid'"
            appearance="fill"
            style="display: block"
          >
            <mat-label>Type</mat-label>
            <mat-select
              type="select"
              formControlName="bidStatus"
              required="false"
            >
              <mat-option *ngFor="let i of bidStatus" [value]="i">
                {{ i }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button class="primary" matStepperNext>
            Next &nbsp;<mat-icon>fast_forward</mat-icon>
          </button>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Upload Files</ng-template>
        <div style="padding: 1rem"></div>
        <button (click)="addFile()" mat-flat-button color="primary">
          Add or Remove Files
        </button>
        <div style="padding: 1rem">
          <p *ngIf="!files.length" style="text-align: center">No Files Added</p>
          <div class="row" *ngIf="files.length">
            <ng-container *ngFor="let item of files">
              <div class="col-3">
                <section class="cards">
                  <p>{{ item.title }}</p>

                  <img
                    src="../../../../../assets/images/pdf-file (1).png"
                    style="width: 25%"
                  />
                </section>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    *ngIf="!data"
    mat-flat-button
    color="primary"
    [disabled]="!bidForm.valid || saving"
    (click)="save()"
  >
    {{ saving ? "Saving..." : "Save" }}
  </button>
  <button
    *ngIf="data"
    mat-flat-button
    color="primary"
    [disabled]="!bidForm.valid || !bidForm.dirty || saving"
    (click)="save()"
  >
    {{ saving ? "Updating..." : "Update" }}
  </button>
</mat-dialog-actions>
