<app-spinner *ngIf="loading"></app-spinner>
<div class="contacts" *ngIf="!loading">
  <div class="one">
    <h1>Manage Contact Us</h1>
  </div>
  <div class="save-btn">
    <button
      color="primary"
      mat-raised-button
      (click)="save()"
      [disabled]="!edited && !contactUs.dirty"
    >
      SAVE
    </button>
  </div>

  <div [formGroup]="contactUs">
    <mat-card>
      <mat-form-field appearance="standard" style="width: 100%">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="address"
          required="true"
          type="text"
          (change)="onChange()"
        />
      </mat-form-field>

      <ng-container formArrayName="numbers">
        <ng-container
          *ngFor="let num of getNumbers().controls; let num_index = index"
          [formGroupName]="num_index"
        >
          <mat-form-field class="input" appearance="standard">
            <mat-label>Number</mat-label>
            <input
              matInput
              formControlName="number"
              required="true"
              (change)="onChange()"
            />

            <span matPrefix class="prefix-num">(+63)</span>
            <mat-icon color="warn" (click)="deleteNum(num_index)" matSuffix
              >close
            </mat-icon>
          </mat-form-field>
        </ng-container>
        <button class="add-btn" mat-stroked-button (click)="addNumbers()">
          <mat-icon>add_box</mat-icon> Add Number
        </button>
      </ng-container>

      <br />

      <ng-container formArrayName="emails">
        <ng-container
          *ngFor="let email of getEmails().controls; let mail_index = index"
          [formGroupName]="mail_index"
        >
          <mat-form-field
            class="input"
            style="width: 50%"
            appearance="standard"
          >
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              required="true"
              type="email"
              (change)="onChange()"
            />
            <mat-icon matPrefix>mail</mat-icon>
            <mat-icon color="warn" (click)="deleteMail(mail_index)" matSuffix
              >close
            </mat-icon>
          </mat-form-field>
        </ng-container>
        <button class="add-btn" mat-stroked-button (click)="addEmails()">
          <mat-icon>add_box</mat-icon> Add Email
        </button>
      </ng-container>
    </mat-card>
  </div>
</div>
