<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading">
  <div class="one">
    <h1>Manage Contact Us</h1>
  </div>
  <div [formGroup]="contactUs" class="contacts">
    <div class="card">
      <mat-form-field
        appearance="fill"
        style="width: 100%; padding: 20px 20px 0px 20px"
      >
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required="true" type="text" />
      </mat-form-field>
      <hr />
      <div formArrayName="numbers">
        <br />
        <ng-container
          *ngFor="let num of getNumbers().controls; let num_index = index"
          [formGroupName]="num_index"
        >
          <mat-form-field appearance="outline">
            <mat-label>Number</mat-label>
            <input
              matInput
              formControlName="number"
              required="true"
              type="number"
            />

            <span matPrefix class="prefix-num">(+63)</span>
            <mat-icon
              *ngIf="num.get('number').value.toString().length"
              style="color: red"
              (click)="deleteNum(num_index)"
              matSuffix
              >close</mat-icon
            >
          </mat-form-field>
        </ng-container>
        <button class="add-btn" mat-stroked-button (click)="addNumbers()">
          <mat-icon>add_box</mat-icon> <span>Number</span>
        </button>
      </div>
      <hr />

      <div formArrayName="emails">
        <br />
        <ng-container
          *ngFor="let email of getEmails().controls; let mail_index = index"
          [formGroupName]="mail_index"
        >
          <mat-form-field style="width: 350px" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              style="margin-left: 8px"
              matInput
              formControlName="email"
              required="true"
              type="email"
            />
            <mat-icon matPrefix class="prefix">mail</mat-icon>
            <mat-icon
              *ngIf="email.get('email').value.length > 0"
              class="delete-btn"
              (click)="deleteMail(mail_index)"
              matSuffix
              >close</mat-icon
            >
          </mat-form-field>
        </ng-container>
        <button class="add-btn" mat-stroked-button (click)="addEmails()">
          <mat-icon>add_box</mat-icon><span>Email</span>
        </button>
      </div>
    </div>
  </div>
  <button class="save-btn" (click)="save()">Save</button>
</div>
