.contacts {
  margin: 0 2rem 0 3rem;
  padding-bottom: 5rem;
}
mat-card {
  width: 100%;
  border-radius: 10px;
  background: #fff;
}
span {
  position: relative;
  padding-left: 4px;
}

.add-btn {
  mat-icon {
    color: #3e692f;
  }
}

.save-btn {
  padding-bottom: 1rem;
}
.input {
  margin-right: 30px;
}
