.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search:hover {
  transition: 0.2s ease-in;
}

.searchTerm {
  width: 100%;
  border: 3px solid #fff;
  border-right: none;
  padding: 5px;
  height: "auto";
  //   border-radius: 28px 0 0 28px;
  outline: none;
  font-size: 18px;
  background: rgb(255, 255, 255);
}

.searchTerm:hover {
  transition: 0.1s ease-in;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.218);
}

.searchTerm:focus {
  color: #565656;
  font-size: 18px;
  border: 1.5px solid #05bbe8;
}

.searchButton {
  width: "auto";
  height: "auto";
  border: 1px solid #05bbe8;
  background: #05bbe8;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  padding: 0.5rem 1.5rem;
}

.searchButton:hover {
  background: #08809e;
}

.wrap {
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.main-bg {
  // background-image: url("../../../assets/images/main-bg.jpg");
  // background-size: cover;
  // height: 85vh;
  // background-position: center center;
  height: 89.3vh;
  video {
    z-index: 000;
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 75%;
    flex-direction: column;
    width: 80%;
    margin: auto;
    h2 {
      color: #fff;
      margin: 0%;
      font-weight: 500;
      font-size: 25px;
      z-index: 999;
    }
    h1 {
      z-index: 999;
      color: #fff;
      font-weight: 800;
      font-size: 70px;
      b {
        color: #05bbe8;
        font-size: 70px;
        font-weight: 800;
      }
    }
    p {
      z-index: 999;
      color: #05bbe8;
      font-size: 16.5px;
      font-weight: 700;
      cursor: pointer;
      .icon {
        font-size: 25px;
        color: #fff;
        font-weight: 900;
      }
      .icons {
        font-size: 15px;
        color: #fff;
        font-weight: 700;
      }
      &:hover {
        transform: translateY(0.25rem);
      }
    }
  }
}

.main-bg:before {
  z-index: 777;
  content: "";
  position: absolute;
  background-color: #05bbe842;
  width: 100%;
  height: 90%;
  top: 18%;
  left: 0;
}

//FOR ABOUT US
.about-us {
  padding: 2rem 0rem;
  background: #fff;

  .row-about {
    width: 75%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    .mission-desc {
      h3 {
        font-size: 28px;
        color: #565656;
        border-left: #05bbe8 4px solid;
        padding-left: 0.5rem;
      }
      p {
        color: #686767;
        text-align: justify;
        font-size: 17px;
      }
      li::marker {
        color: #05bbe8;
        font-size: 17px;
      }
      li {
        color: #686767;
      }
    }
    .vision-desc {
      h3 {
        font-size: 28px;
        color: #565656;
        border-right: #05bbe8 4px solid;
        padding-right: 0.5rem;
        text-align: right;
      }
      p {
        color: #686767;
        text-align: justify;
        font-size: 17px;
      }
    }
  }
  .about-img-container {
    img {
      width: 75%;
    }
  }
  .right {
    flex-direction: flex-end;
    justify-content: flex-end;
    display: flex;
  }
}

//WHERE TO GO
.where-to-go {
  background: linear-gradient(to top, #f9f8fd94 50%, #05bbe8d4 45%);
  padding: 1.5rem 0rem;
}

.news {
  background-color: #f9f8fd;
  padding: 2rem 0rem;
}

.announcement {
  background-color: #05bbe8d4;
  padding: 2rem 0rem;
}

//FOR MAYOR'S MESSAGE
.mayor-bg {
  background: linear-gradient(90deg, #f9f8fd94 73%, #05bbe892 60%),
    url("./../../../assets/images/mosaic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mayor-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mayor-img {
  width: 60%;
}

.img-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-main {
  width: 80%;
  box-shadow: 0px -1px 33px -18px rgba(0, 0, 0, 0.75);
  border: none;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .mayor-msg {
    font-size: 16px;
    color: #565656;
    text-align: justify;
  }
  // .mayor-msg:first-letter {
  //   text-transform: capitalize;
  //   font-size: 320%;
  //   font-weight: 700;
  //   color: #05bbe8;
  //   line-height: 0;
  // }

  .mayor-info {
    flex-direction: flex-end;
    display: flex;
    justify-content: flex-end;
    p {
      margin: 0;
      text-align: center;
    }
  }

  .card-main-upper {
    display: none;
  }
}

//FOR PUBLIC SERVANTS
.public-servants {
  padding: 4rem 0rem;
  // background: linear-gradient(to bottom, #fff 57%, #05bbe8c6 50%);
  // background-color: #f9f8fd;

  background: linear-gradient(90deg, #f9f8fd94 73%, #f9f8fd94 60%),
    url("./../../../assets/images/mosaic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  // opacity: 0.1;
  // .main {
  //   padding: 3rem 0rem;
  //   position: relative;
  // }
  // .main-content {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   z-index: -1;
  //   left: 0;
  //   bottom: 0;
  //   // background-image: linear-gradient(45deg, #20c0bb84, #156abea5);
  //   background-image: url("../../../assets/images/mosaic.jpg");
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  //   background-position: center center;
  //   background-size: cover;
  //   opacity: 0.1;
  //   // transform: skewY(-11deg);
  // }
}

//FOR PINNED ANNOUNCEMENT
.pinned-announcement {
  background-color: #05bbe8;

  h3 {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 24px;
  }
  h4 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  p {
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
  }
  p:hover {
    color: #f4f4f4;
  }

  $bubble-count: 50;
  $sway-type: "sway-left-to-right", "sway-right-to-left";

  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }

  @function sample($list) {
    @return nth($list, random(length($list)));
  }

  .bubbles {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3rem 0rem;
  }

  .bubble {
    position: absolute;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay)
      ease-in infinite;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(183, 94%, 76%, 0.3);
      border-radius: inherit;
      animation: var(--bubble-sway-type) var(--bubble-sway-duration)
        var(--bubble-sway-delay) ease-in-out alternate infinite;
    }

    @for $i from 0 through $bubble-count {
      &:nth-child(#{$i}) {
        --bubble-left-offset: #{random_range(0vw, 100vw)};
        --bubble-radius: #{random_range(1vw, 10vw)};
        --bubble-float-duration: #{random_range(6s, 12s)};
        --bubble-sway-duration: #{random_range(4s, 6s)};
        --bubble-float-delay: #{random_range(0s, 4s)};
        --bubble-sway-delay: #{random_range(0s, 4s)};
        --bubble-sway-type: #{sample($sway-type)};
      }
    }
  }

  @keyframes float-up {
    to {
      transform: translateY(-175vh);
    }
  }

  @keyframes sway-left-to-right {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }

  @keyframes sway-right-to-left {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
//FOR CONTACT US

.contact-us {
  padding: 3rem 0rem;
  // background-color: #05bbe8c6;
  background: linear-gradient(-90deg, #fff 68%, #05bbe892 63%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  .main-content {
    padding: 3rem 0rem;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    .header {
      padding-bottom: 1rem;
      .icons {
        font-size: 28px;
        color: #05bbe8;
      }
      h3 {
        font-size: 16px;
        color: #6f6f6f;
        font-weight: 600;
      }
      p {
        margin: 0.3rem;
        color: #808080;
        font-size: 13px;
      }
      b {
        color: #08809e;
      }
    }
    // .contact-wrapper {
    //   margin: 1rem;
    //   margin-bottom: 2rem;
    //   h3 {
    //     color: #fff;
    //     font-weight: 700;
    //     font-size: 26px;
    //     letter-spacing: 0.2rem;
    //     margin-bottom: 0;
    //   }
    //   p {
    //     color: #7b7b7b;
    //     text-align: left;
    //     font-weight: 600;
    //     font-size: 13px;
    //     letter-spacing: 0.1rem;
    //     margin: 0;
    //     padding-left: 3.5rem;
    //   }
    // }
  }
}
/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 90%;
  margin: auto;
  box-shadow: 0px -1px 33px -18px rgba(0, 0, 0, 0.75);
  /* The width is the width of the web page */
}

//FOR MOBILE DEVICE
@media only screen and (max-width: 600px) {
  .main-bg {
    height: 88.8vh;
    video {
      top: 8%;
    }
    .content {
      height: 80%;
      width: 95%;
      h2 {
        font-size: 13px;
      }
      h1 {
        font-size: 29px;
        b {
          font-size: 29px;
        }
      }
      p {
        font-size: 13px;
        .icon {
          font-size: 21px;
        }
        .icons {
          font-size: 13px;
        }
      }
    }
  }
  .main-bg:before {
    top: 8%;
  }

  .wrap {
    width: 80%;
  }
  .searchTerm {
    font-size: 15px;
  }

  .searchButton {
    font-size: 20px;
    padding: 0.5rem 0.7rem;
  }

  .footer {
    .header {
      width: 30%;
      font-size: 14px;
    }
  }
  .footer-low {
    font-size: 11.5px;
    .small {
      text-align: center;
      margin-bottom: 0;
    }
  }
  //ABOUT US
  .about-us {
    .row-about {
      width: 95%;
      margin-top: 4rem;
      margin-bottom: 4rem;

      .mission-desc {
        h3 {
          margin-top: 1.5rem;
          font-size: 22px;
        }
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      .vision-desc {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .about-img-container {
      img {
        width: 65%;
        margin: auto;
        display: block;
      }
    }
  }
  //FOR MAYOR
  .mayor-bg {
    background-image: url("./../../../assets/images/mosaic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .mayor-main {
      width: 95%;
      margin: auto;
    }
  }
  .text-wrapper {
    .mayor-msg {
      font-size: 14px;
      margin-top: 1rem;
    }
    .mayor-msg:first-letter {
      font-size: 25px;
    }
    .card-main-upper {
      display: block;
      width: 100%;
      margin: auto;
      .mayor-img {
        width: 37%;
      }
    }
  }
  .card-main {
    display: none;
  }

  //FOR PUBLIC SERVENTS
  .public-servants {
    .card-content {
      .img-container {
        img {
          width: 135%;
        }
      }
      .servant-info {
        h3 {
          font-size: 15px;
        }
        .pos {
          font-size: 12px;
        }
        .prop {
          font-size: 12px;
        }
      }
    }
  }

  //FOR CONTACT US

  .contact-us {
    .main-content {
      .contact-wrapper {
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
  .upper-nav {
    display: none;
  }
} /* Set the border color */

.custom-toggler.navbar-toggler {
  border-color: #fff;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
