<section class="main-bg">
  <video
    loop
    muted
    autoplay
    preload="auto"
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
  >
    <source [src]="video" type="video/mp4" />
  </video>

  <!-- <div class="wrap">
    <div class="search">
      <input
        type="text"
        class="searchTerm"
        placeholder="How can we help you today?"
      />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div> -->
  <div class="content">
    <h2><i>"Naragsak nga Isasanbay!"</i></h2>
    <h1>
      Experience <b>paradise</b><br />
      in Burgos<b>.</b>
    </h1>

    <p (click)="doSomething('pinned')">
      <b><i class="bi bi-mouse icon"></i></b>&nbsp;&nbsp;<span
        class="home-scroll-name"
        >Scroll Down</span
      >&nbsp;&nbsp;<i class="bi bi-arrow-down icons"></i>
    </p>
  </div>
</section>

<section id="pinned" *ngIf="pinnedAnnouncement" class="pinned-announcement">
  <div class="bubbles">
    <div *ngFor="let i of bubblesArr" [class]="i"></div>
    <div class="two">
      <h1 style="color: #fff; text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.55)">
        Announcement
      </h1>
    </div>
    <div class="container">
      <h3>"{{ pinnedAnnouncement.title }}"</h3>
      <h4>{{ pinnedAnnouncement.createdAt | date: "longDate" }}</h4>
      <p href="#">READ FULL DETAILS HERE</p>
    </div>
  </div>
</section>

<section id="about-us" class="about-us">
  <div class="container">
    <div class="one">
      <h1>About us</h1>
    </div>
    <div class="row row-about">
      <div
        class="col-lg-6 col-xl-6 col-sm-12 col-md-12 about-img-container right"
      >
        <img
          src="../../../assets/images/undraw_browsing_online_re_umsa.svg"
          alt=""
        />
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mission-desc">
        <h3>Mission</h3>
        <p>
          Burgos shall improve the quality of life of every Burgoseño through:
        </p>
        <ul *ngFor="let item of missions">
          <li>{{ item }}</li>
        </ul>
      </div>
    </div>
    <div class="row row-about">
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 vision-desc">
        <h3>Vision</h3>
        <p>
          The renewable energy and tourism capital of the North with balanced
          and climate-resilient community under the stewardship of firm and
          committed leaders inhabited by empowered and God-fearing citizenry.
        </p>
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 about-img-container">
        <img src="../../../assets/images/undraw_pitching_re_fpgk.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="where-to-go">
  <app-where-to-go></app-where-to-go>
</section>

<section class="mayor-bg">
  <div class="container">
    <div class="one">
      <h1>Mayors's message</h1>
    </div>
    <div class="mayor-main">
      <div class="row">
        <div class="col-lg-7 col-xl-7 col-sm-12 col-md-12 text-wrapper">
          <div class="card card-main-upper">
            <div class="card-body img-card">
              <img
                src="../../../assets/images/mayor-img.png"
                class="img-fluid mayor-img"
                alt=""
              />
            </div>
          </div>
          <p class="mayor-msg">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
            repudiandae aspernatur ducimus tenetur fugit architecto amet
            consectetur! Nostrum laboriosam porro temporibus autem assumenda
            quis expedita consequuntur neque sapiente unde, natus blanditiis
            nesciunt dolor voluptatem. Blanditiis soluta id consectetur modi
            dolor libero harum, magnam deleniti officiis quibusdam? Ab ipsum cum
            assumenda? Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Aperiam ab facilis itaque, quisquam modi doloremque doloribus
            voluptatibus fugit cum dolore.
          </p>
          <div style="margin-top: 0.7rem" class="mayor-info">
            <p><b>Virgilio L. De Guzman Jr.</b></p>
          </div>
          <div class="mayor-info">
            <p style="font-size: 12px; color: #6f6f6f">Municipal Mayor</p>
          </div>
        </div>
        <div class="col-lg-5 col-xl-5 col-sm-12 col-md-12">
          <div class="card card-main">
            <div class="card-body img-card">
              <img
                src="../../../assets/images/mayor-img.png"
                class="img-fluid mayor-img"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="public-servants">
  <div class="row">
    <div class="one">
      <h1>Public servants</h1>
    </div>
    <div class="main">
      <div class="main-content"></div>
      <app-public-servants></app-public-servants>
    </div>
  </div>
</section>

<section class="contact-us">
  <div class="container">
    <div class="one">
      <h1>Contact us</h1>
    </div>
    <div class="row main-content">
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
        <div id="map"></div>
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
        <div class="header">
          <i class="bi bi-bank icons"></i>
          <h3>OFFFICE OF THE MAYOR</h3>
          <p>
            Location: <b>Municipal Hall, Poblacion, Burgos, Ilocos Norte</b>
          </p>
          <p>
            Email Address:
            <b>moburgosilocosnorte@gmail.com / moburgosilocosnorte@yahoo.com</b>
          </p>
          <p>Contact Number: <b>0915-434-9313 / 0970-814-8413</b></p>
        </div>
        <div class="header">
          <i class="bi bi-geo-alt-fill icons"></i>
          <h3>TOURISM OFFICE</h3>
          <p>
            Location: <b>Municipal Hall, Poblacion, Burgos, Ilocos Norte</b>
          </p>
          <p>
            Email Address:
            <b>tourismofficeburgosin@gmail.com</b>
          </p>
        </div>
        <div class="header">
          <i class="bi bi-facebook icons"></i>
          <h3>FACEBOOK PAGE</h3>
          <p><b>https://www.facebook.com/inburgosilocosnorte </b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid"></div>
</section>
