<app-spinner *ngIf="loading"></app-spinner>
<app-no-content *ngIf="!departments.length && !loading"></app-no-content>
<section *ngIf="!loading && departments.length" id="history">
  <div class="container">
    <h1>Our Departments</h1>
  </div>
</section>
<div *ngIf="!loading && departments.length" class="container">
  
  <div class="wrapper">
    <div *ngFor="let dept of departments">
      <h3>{{ dept.title }}</h3>
      <p class="subt" *ngIf="dept.person">
        {{ dept.person }} <i>({{ dept.position }})</i> - {{ dept.number }}
      </p>
      <div style="margin-top: 1.2rem" [innerHTML]="dept.layout"></div>
    </div>
  </div>
</div>
