.container {
  padding: 2rem 0rem;
  h3 {
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-weight: 600;
    color: #05bbe8;
    font-size: 20px;
  }
  p {
    // text-indent: 6%;
    font-size: 15px;
    color: #767676;
    text-align: justify;
    margin-bottom: 1.3rem;
  }

  ul {
    margin-left: 6.5rem;
    font-size: 15px;
    color: #767676;
  }

  li::marker {
    color: #05bbe8;
    font-size: 17px;
  }
  .subt {
    font-size: 12px;
    margin: 0;
    color: #767676;
    text-align: left;
  }
}
