<div class="container">
  <div class="wrapper">
    <h3>Office of the Mayor</h3>
    <p>
      The Local Chief Executive heads the office of the Mayor. It is composed of
      the following sections: Personal Staff, Civil Security Office, Human
      Resource Management Office, Administrative Section, Local Disaster and
      Risk Reduction Office, Library Section, Economic Enterprise Management and
      Slaughterhouse Section, and General Services.
    </p>
    <p>
      The office of the Mayor through the Local Chief Executive exercises such
      powers and performs such duties and functions as provided for under the
      New Local Government Code and other applicable laws. To enumerate some of
      the basics functions this office.
    </p>
    <ul>
      <li>
        Exercises general supervision and over all programs, projects, services
        and activities of the Local Government Unit;
      </li>
      <li>
        Enforces all laws and ordinances relative to the governance of the
        municipality and the exercise of its corporate powers, and implement all
        approved policies, programs, projects, services and activities of the
        municipality;
      </li>
      <li>
        Initiates and maximizes the generation of resources and revenues and
        apply the same to the implementation of the development plans, program
        objectives and priorities as provided under the New Local Government
        Code of 1991, particularly those resources and revenues programmed for
        agro-industrial development and countrywide growth and progress;
      </li>
      <li>
        Ensures the delivery of the basic services and the provision of adequate
        facilities; and,
      </li>
      <li>
        Exercises such other powers and performs such other duties and functions
        as may be prescribed by laws or ordinances.
      </li>
      <li>
        The Office of the Mayor through its different sections provides other
        services as follows: library services, market and slaughterhouse
        services, administrative services, general utility services, security
        services and social welfare services.
      </li>
    </ul>
    <h3>Office of the Sangguniang Bayan</h3>
    <p>
      The office of the Sangguniang Bayan is headed by the Municipal Vice Mayor
      as the Presiding Officer and is composed of the Sangguniang Bayan Members,
      the Liga ng mga Barangay (LMB) President and the Sangguniang Kabataan (SK)
      Federated President. The secretariat is headed by the Sangguniang Bayan
      Secretary and has three (3) Casual Employees.
    </p>
    <p>
      The Sangguniang Bayan as the legislative body of the municipality enacts
      ordinances, approves resolutions and appropriates funds for the general
      welfare of the municipality and its constituents pursuant to Section 16 of
      the Local Government Code and in the proper exercise of the corporate
      powers of the municipality as provided for under Section 22 of the Local
      Government Code. Major functions of the Sangguniang Bayan from which other
      related functions emanate are:
    </p>
    <ul>
      <li>
        Approves ordinances and pass resolutions necessary for an efficient and
        effective Municipal Government;
      </li>
      <li>
        Generates and maximizes the use of resources and revenues for the
        development plans, program objectives and priorities of the municipality
        as provided for under Section 18 of the Local Government Code with
        particular attention to agro-industrial development and countrywide
        growth progress;
      </li>
      <li>
        Subject to the provisions of Book II of the Local Government Code,
        grants franchise, enacts ordinances authorizing the issuance of permits
        or licenses, or enacts ordinances levying taxes, fees and charges upon
        such conditions and for such purposes intended to promote the general
        welfare of the inhabitants of the municipality;
      </li>
      <li>
        Regulates activities relative to the use of land, buildings and
        structures within the municipality in order to promote the general
        welfare;
      </li>
      <li>
        Approves ordinances which shall ensure the efficient and effective
        delivery of basic services and facilities as provided for under Section
        17 of the Local Government Code; and,
      </li>
      <li>
        Exercises such other powers and performs such other duties and functions
        as may be prescribed by laws and ordinances.
      </li>
    </ul>
    <p>
      The Vice Mayor in his official capacity as such is the Presiding Office of
      the Sangguniang Bayan and signs all warrants drawn on the Municipal
      Treasury for all expenditures appropriated for the operation of the
      Sangguniang Bayan; appoints all officials and employees of the Sangguniang
      Bayan in accordance with civil service laws, rules and regulations except
      those who manner of appointment is specifically provided in the Government
      Code; assumes the Office of the Municipal Mayor for the unexpired term of
      the latter in the event of permanent disability; exercises the powers and
      performs the duties and functions of the Municipal Mayor in cases of
      temporary vacancy; and exercises such other powers and performs such other
      duties and functions as may be prescribed by law or ordinance.
    </p>
    <p>
      On the other hand, the Sangguniang Bayan Secretary who heads the
      Secretariat services attends meeting of the SB and keeps a journal of
      their proceedings; keeps the Seal of the Local Government Unit and affixes
      the same with his/her signature to all ordinances, resolutions and other
      official acts of the SB and presents the same to the Presiding Officer for
      his signature; forwards to the Mayor for approval copies of ordinances
      enacted by the Sangguniang Bayan and duly certified by the Presiding
      Officer; forwards to the Sangguniang Bayan copies of approved Sangguniang
      Barangay ordinances and to the Sangguniang Panlalawigan of approved
      Sangguniang Bayan ordinances; furnishes upon request of any interested
      party, certified copies of records of public character in his custody,
      upon payment to the Treasurer of such fees as may be prescribed by
      ordinance; records in a book kept for the purpose, all ordinances and
      resolutions enacted or adopted by the Sanggunian, with the dates of
      passage and publication thereof; keeps his office and all non-confidential
      records therein open to the public during the usual business hours;
      translate into the dialect used by the majority of the inhabitants all
      ordinances and resolutions immediately after their approval, and causes
      the publication of the same together with the original version in the
      manner provided under the Government Code; takes the custody of the local
      archives and annually accounts for the same: and exercises such other
      powers and performs such other duties and functions as may be prescribed
      by law or ordinance relative to his position.
    </p>
    <h3>Office of the Municipal Treasury</h3>
    <p>
      The Municipal Treasurer heads the Office of the Municipal Treasury. He is
      assisted by the Assistant Municipal Treasurer in the delivery of the
      Administrative functions. This Office is composed of a Revenue Collection
      Officer I, Revenue Collection Clerk II, Revenue Collection Clerk I and a
      Casual-Clerk I.
    </p>
    <p>
      The Municipal Treasurer takes charge of the Treasury office and performs
      the duties and functions as provided for under the New Local Government
      Code such as; advise the Mayor, the Sangguniang Bayan and other Local
      Government and National Offices concerned regarding disposition of the
      local government funds and on such other matters relative to public
      finance; take custody of and exercise proper management of the funds of
      the Local Government Unit; takes charge of the disbursement of all local
      government funds and such other funds the custody of which may be
      entrusted to him by law or other competent authority; inspects private
      commercial and industrial establishments within the jurisdiction of the
      Local Government Unit in relation to the implementation of Tax Ordinances;
      maintains and updates the Tax Information System of the Local Government
      Unit and exercises such other powers and performs such other duties and
      functions as may be prescribed by law or ordinance.
    </p>
    <p>
      On the other hand, the Assistant Municipal Treasurer shall assist the
      Municipal Treasurer and perform such duties as the latter may assign to
      him. He shall have authority to administer oaths concerning notices and
      notifications to those delinquent in the payment of the real property tax
      and concerning official matters relating to the accounts of the Treasurer
      or otherwise arising in the Offices of the Treasurer and the Assessor.
    </p>
    <h3>Office of the Municipal Assessor</h3>
    <p>
      This Office is headed by the Municipal Assessor. It has two (2) sections:
      the Tax Mapping Section and the Assessment Section. Under the Tax Mapping
      Section, there is a Mapper I while there are three (3) Assessment Clerks
      under the Assessment Section.
    </p>
    <p>
      The Municipal Assessor takes charge of the Assessor’s office and performs
      the duties provided for under Book II of the Government Code such as;
      ensures that all laws and policies governing the appraisal and assessment
      of real properties for taxation purposes are properly executed; initiates,
      reviews and recommends changes in policies and objectives, plans and
      programs, techniques, procedures and practices in the valuation and
      assessment of real properties for taxation purposes; establishes a
      systematic method of real property assessment; installs and maintains a
      real property identification and accounting system; prepares, installs and
      maintains a system of Tax mapping, showing graphically all properties
      subject to assessment and gather all data concerning the same; conducts
      frequent physical surveys to verify and determine whether all real
      properties within the municipality are properly listed in the assessment
      rolls; exercises the functions of appraisal and assessment primarily for
      taxation purposes of all real properties in the Local Government Unit;
      prepares a schedule of the fair market value for the different classes of
      real properties; issues, upon request of any interested party, certified
      copies of assessment records of real property and all other records
      relative to its assessment, upon payment of a service charge or fee to the
      treasurer; submits every semester a report of all assessments, as well as
      cancellations and modifications of assessments to the Local Chief
      Executive and the Sanggunian; attends personally or through an authorized
      representative, all sessions of the Local Board of Assessment Appeals
      whenever his assessment is the subject of the appeal, and presents or
      submits any information or record in his possession as may be required by
      the board; and exercises such other powers and performs such other duties
      and functions as may be prescribed by law or ordinance.
    </p>
    <h3>Office of the Municipal Accountant</h3>
    <p>
      The Municipal Accountant assisted by an Accountant II, Accountant I and an
      Accounting Clerk III, is manning this Office. The Municipal Accountant is
      in charge of both the accounting and internal audit services of the Local
      Government Unit.
    </p>
    <p>
      The Municipal Accountant as provided for by the New Local Government Code
      installs and maintains an internal audit system in the Local Government
      Unit; prepares and submits financial statements to the mayor and the
      Sangguniang Bayan; appraises the Sanggunian and other local government
      official on the financial condition and operations of the Local Government
      Unit; certifies to the availability of budgetary allotment to which
      expenditures and obligations may be properly charged; reviews supporting
      documents before preparation of vouchers to determine completeness of
      requirements; prepares statement of cash advances, liquidation, salaries,
      allowances, reimbursements and remittances pertaining to the Local
      Government Unit; prepares statements of journal vouchers and liquidation
      of the same and other adjustments related thereto; posts individual
      disbursements to the subsidiary ledgers, maintains individual ledgers for
      officials and employees of the Local Government Unit pertaining to
      payrolls and deductions; records and posts data of purchased furniture,
      fixtures and equipment, including disposal thereof, if any; accounts for
      all issued requests for obligation and maintains and keeps all records and
      reports related thereof; prepares journals and the analysis of obligations
      and maintains and keeps all records and reports related thereto; and
      exercises such other powers and performs such other duties and functions
      as may be provided by law or ordinance.
    </p>
    <h3>Office of the Municipal Budget Officer</h3>
    <p>
      The Office is headed by the Municipal Budget Officer and is supported by
      the Budget Officer II.
    </p>
    <p>
      The Municipal Budget Officer prepares forms, orders and circulars
      embodying instructions on budgetary and appropriation matters for the
      signature of the Mayor; reviews and consolidated the budget proposals of
      different departments and offices of the Local Government Unit; assists
      the Mayor in the preparation of the budget and during budget hearings;
      studies and evaluates budgetary implications of proposed legislation and
      submits comments and recommendations thereon; submits periodic budgetary
      reports to the Department of Budget and Management (DBM); coordinates with
      the Treasurer, the Accountant and the Planning and Development Coordinator
      for the purpose of budgeting; assists the Sanggunian in reviewing the
      approved budgets of barangays; coordinates with the Planning Development
      Coordinator in the formulation of the Development plan; and exercises such
      other powers and performs such other duties and functions as may be
      prescribed by law or ordinance.
    </p>
    <h3>Office of the Municipal Planning and Development Coordinator</h3>
    <p>
      This Office is headed by the Municipal Planning and Development
      Coordinator (MPDC). It is composed of the aforementioned MPDC, Project
      Development Officer II, and Project Development Assistant.
    </p>
    <p>
      The Municipal Planning and Development Coordinator (MPDC) is responsible
      in the discharge of duties and functions as provided by the New Local
      Government Code such as the formulation of integrated economic, social,
      physical and other development plans and policies for consideration of the
      Municipal Development Council (MDC). The Office integrates and coordinates
      all sectoral plans and studies undertaken by the different functional
      groups or agencies. In addition, the Office monitors and evaluates the
      implementation of the different plans, programs, projects and activities
      in the LGU in accordance with the approved development plan; prepares
      comprehensive plans and other development planning documents for the
      consideration of the Municipal Development Council; analyzes the income ad
      expenditures patterns and formulates and recommends fiscal plans and
      policies for consideration in the Finance Committee; promotes people’s
      participation in development planning; conducts continuing studies
      researches and training programs necessary to evolve plans and programs
      for implementation; exercises supervision over the Secretariat of the MDC;
      and exercises such other powers and performs such other duties and
      functions as may be prescribed by law or ordinance.
    </p>
    <h3>Office of the Municipal Engineer</h3>
    <p>
      This Office is manned by the Municipal Engineer assisted by an Engineer
      III.
    </p>
    <p>
      The Municipal Engineer initiates, reviews and recommends changes in
      policies and objectives, plans and programs, techniques, procedures and
      practices in infrastructure development and public works in general of the
      Local Government Unit. They are also in charged in advising the Mayor
      about infrastructure and public works; administers, coordinates,
      supervises and controls the construction, maintenance, improvement and
      repair of roads, bridges and other engineering and public works projects
      of the Local Government Unit; provides engineering services to the LGU,
      including investigation and survey, engineering designs, feasibility
      studies and project management and exercises such other powers and
      performs such other duties and functions as may be prescribed by law or
      ordinance.
    </p>
    <h3>Office of the Municipal Civil Registrar</h3>
    <p>
      This office is headed by the Municipal Civil Registrar, supported by the
      Registration Officer I and the Assistant Registration Officer.
    </p>
    <p>
      The Municipal Civil Registrar (MCR) is in-charge of the Civil Registry
      Office and performs the duties and responsibilities in connection with
      civil registration and those which is provided for under the New Local
      Government Code, which includes developing plans and strategies on civil
      registry programs; accepts documents and judicial decrees affecting the
      civil status of persons; files and preserves in a secure place books
      required by law; transcribes and enters immediately upon receipt of
      documents in the appropriate civil registry books; transmits to the Office
      of the Civil Registrar-General within the prescribed period, duplicate
      copies of registered documents required by law; issues certified
      transcripts or copies of any certificate or registered documents upon
      payment of the prescribed fees to the Treasurer; receives applications for
      the issuance of a marriage license and after determining that the
      requirements and supporting certificates and publication thereof for the
      prescribed period have been complied with, issues the license upon payment
      of the authorized fee to the Treasurer; coordinates with the National
      Statistics Office (NSO) in conducting educational campaigns for vital
      registration and assists in the presentation of demographic and other
      statistics for the Local Government Unit; and exercises such powers and
      performs such other duties and functions as may be prescribed by law or
      ordinance.
    </p>
    <h3>Office of the Municipal Health Officer</h3>
    <p>
      This office is under the supervision of the Municipal Health Officer. The
      office is composed of the personnel in the Medical Section, Population
      Program Section and Environment Sanitation Section.
    </p>
    <p>
      There are seven (7) personnel under the Municipal Health Officer, all of
      them are organic.
    </p>
    <p>
      The Municipal Health Officer (MHO) is in-charge of all concerns regarding
      health care and services as well as the supervision of the personnel and
      staff of the office. The MHO also formulates program implementation
      guidelines and rules and regulations for the operation of the said office
      for the approval of the Mayor in order to assist him in the efficient,
      effective and economical implementation of health services program geared
      to implementation related projects and activities; formulates measures for
      the consideration of the Sangguniang Bayan and provides technical
      assistance and support to the Mayor in carrying out activities to ensure
      the delivery of basic services and provision of adequate health facilities
      relative to health services; develops plans and strategies on health
      programs and projects, and implements them upon approval thereof by the
      Mayor; formulates and implements policies, plans programs and projects to
      promote the health of the people; advices the Mayor and the Sangguniang
      Bayan on matters pertaining to health; executes and enforces all laws,
      ordinances and regulations relating to public health; recommends to the SB
      through the Health Board, the passage of ordinances deemed necessary for
      the preservation of public health; recommends the prosecution of any
      violation of sanitary laws, ordinances or regulations; direct the
      Sanitation Inspector to inspect all business establishments selling food
      items or providing accommodations in accordance with the sanitation code;
      conducts health information campaigns and renders health intelligence
      services; coordinates with other government agencies and non-government
      organizations involved in the promotion and delivery of health services;
      be in the frontline of the delivery of health services, particularly
      during and in the aftermath of man-made and natural calamities and
      disasters; exercises such other powers and performs such other duties and
      functions as may be prescribed by law and ordinance.
    </p>
    <h3>Office of the Municipal Agriculturist</h3>
    <p>
      This office is under the guidance of the Municipal Agriculturist with five
      (5) Agricultural Technologists assisting.
    </p>
    <p>
      The Municipal Agriculturist is responsible in the delivery of the
      agricultural services and technical assistance to the constituents of the
      municipality. The office performs duties and functions as provided for
      under the New Local Government Code, including the formulation of measures
      for the approval of the Sangguniang Bayan and provides technical
      assistance and support to the Mayor in carrying out said measures to
      ensure the delivery of basic services and provision of adequate facilities
      relative to agricultural services; develops plans and strategies on
      agricultural programs and projects and implements them upon approval
      thereof by the Mayor.
    </p>
    <p>
      The Office also ensures that maximum assistance and access to resources in
      the production, processing and marketing of agricultural, aqua-cultural
      and marine products are extended to farmers, fisherman and local
      entrepreneurs, conducts or causes to be conducted location-specific
      agricultural researches and assists in making available the appropriate
      technology arising out of, and disseminate information on, basic research
      on crops, prevention and control of plant diseases and pests, and other
      agricultural matters which will maximize productivity; assists the Mayor
      in the establishments and extension services of demonstration farms or
      aquaculture and marine products; enforces rules and regulations relating
      to agriculture and aquaculture; coordinates with national government
      agencies and non-government organizations which promote agricultural
      productivity through appropriate technology compatible with environmental
      integrity; be in the frontline of delivery of basic agricultural services,
      particularly those needed for the survival of the inhabitants during and
      in the aftermath of man-made and natural disasters; recommends to the
      Sangguniang Bayan and advises the Mayor on all other matters related to
      agricultural and aquaculture which will improve the livelihood and living
      conditions of the inhabitants; and exercises such other powers and
      performs such other duties and functions as may be prescribed by law or
      ordinance.
    </p>
    <h3>Office of the Municipal Social Welfare and Development</h3>
    <p>
      This office is headed by the Municipal Social Welfare and Development
      Officer (MSWDO) and assisted by the Social Welfare Officer II and the
      Social Welfare Assistant.
    </p>
    <p>
      The MSWDO is responsible in advising the Mayor for the development and
      implementation of a comprehensive social welfare program designed to
      uplift the living conditions and empower the disadvantaged children,
      youth, women, older persons, person with disabilities, families in crisis
      and communities needing assistance. This consists of the prevention and
      remedial programs and services for individuals, families and communities;
      the protective, remedial and development welfare services for children and
      the youth; vocational rehabilitation and related services for the
      physically handicapped. In addition, the MSWDO is also in-charged with
      establishing programs and policies for the protection of rights of poor
      and vulnerable sectors and for the immediate relief and early recovery of
      disaster victims/survivors as well as ensuring the continuing compliance
      of social welfare development to standards in the delivery of social
      welfare services; and exercises such other powers and performs such other
      duties and functions as may be prescribed by law or ordinance.
    </p>
    <h3>Office of the Municipal Environment and Natural Resources</h3>
    <p>
      This office is manned single-handedly by the Municipal Environment and
      Natural Resources Officer (MENRO).
    </p>
    <p>
      The MENRO is responsible for the conservation, management, development and
      proper use of the municipality’s environment and natural resources, as
      well as the licensing and regulation of all natural resources utilization
      as may be provided by law, where applicable. The MENRO also is involved in
      the supervision and control over forest lands and mineral resources and
      impose appropriate payments, fees and charges and issues certification
      upon payment of the prescribed fees to the Treasurer for the exploration,
      development, utilization or gathering of such resources; establish
      policies and implement programs for the preservation of cultural and
      natural heritage through wildlife conservation and segregation of national
      parks and other protected areas and for the maintenance of a wholesome
      natural environment by enforcing environmental protection laws; regulate
      the development, disposition, extraction, exploration and use of land and
      mineral resources within the municipality; promulgate rules and
      regulations for the control of water, air and land pollution; and exercise
      other functions and perform other acts as may be necessary for the
      protection of the environment.
    </p>
    <h3 style="text-align: center">DEPARTMENT HEADS</h3>
    <div class="row">
      <div style="margin: auto" class="col-8">
        <table style="width: 100%; color: #767676; font-size: 15px">
          <tr>
            <td>Municipal Planning and Development Coordinator</td>
            <td>-EnP Jonas A. Tesoro</td>
          </tr>
          <tr>
            <td>Municipal Environment and Natural Resources Officer</td>
            <td>-EnP Jay-arr G.</td>
          </tr>
          <tr>
            <td>Municipal Social Welfare and Development Officer</td>
            <td>-Mr. Ulpiano L. Rojo, Jr.</td>
          </tr>
          <tr>
            <td>Municipal Accountant</td>
            <td>-Ms. Rodelyn A.</td>
          </tr>
          <tr>
            <td>Municipal Budget Officer (OIC)</td>
            <td>-Ms. Cristhel Jane Cagaoan</td>
          </tr>

          <tr>
            <td>Municipal Assessor</td>
            <td>-Ms. Deborah C. Carullo</td>
          </tr>
          <tr>
            <td>Municipal Engineer</td>
            <td>-Engr. Minerva S. Pascua</td>
          </tr>
          <tr>
            <td>Municipal Health Officer (OIC)</td>
            <td>-Ms. Beatriz M. Abian</td>
          </tr>
          <tr>
            <td>Municipal Civil Registrar</td>
            <td>-Ms. Eliza V. Acido</td>
          </tr>
          <tr>
            <td>Municipal Agriculturist</td>
            <td>-Ms. Cheryl T. Ruguian</td>
          </tr>
          <tr>
            <td>Municipal Treasurer (OIC)</td>
            <td>-Mr. Mike Jayson M. Ravina</td>
          </tr>
          <tr>
            <td>Sangguniang Bayan Secretary</td>
            <td>-Ms. Ofelia G. Clemente</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
