<section style="height: 100%; overflow-x: hidden; background-color: #f9f8fd">
  <div class="container-fluid upper"></div>
  <div class="container-fluid sticky-top upper-nav">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-3 img-wrap">
            <a class="navbar-brand" href="#">
              <img
                src="../../assets/images/burgos-logo.png"
                class="img-fluid"
                alt=""
              />
            </a>
          </div>
          <div class="col-9 text-wrapper" style="padding-left: 0">
            <p class="sm-upper">Republic of the Philippines</p>
            <h3>Municipality of Burgos</h3>
            <p class="sm-upper">Ilocos Norte, Philippines</p>
          </div>
        </div>
      </div>
      <div class="col-8 icon-wrapper">
        <ul class="nav nav-responsive justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/content-management/add-legislative"
              >Legislative</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/content-management/add-transparency"
              >Transparency</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/content-management/add-tourism"
              >Tourism</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/content-management/add-citizen-charter"
              >Citizen's Charter</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/content-management/add-announcement"
              >Announcement</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/content-management/add-career"
              >Career</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div style="overscroll-behavior-x: hidden" class="container-fluid content">
    <router-outlet></router-outlet>
  </div>
</section>
