<div class="container">
  <div class="row">
    <div class="col-5">
      <mat-form-field appearance="fill">
        <mat-label>Paste Link here</mat-label>
        <input [(ngModel)]="link" matInput required />
      </mat-form-field>

      <button
        mat-flat-button
        (click)="!resHolder.length ? set() : update()"
        color="primary"
      >
        Set as background video
      </button>
    </div>
    <div class="col-7">
      <div *ngIf="hasLink && !loading" class="vid-wrap">
        <iframe
          width="855"
          height="485"
          [src]="secure(fLink)"
          frameborder="0"
          allowfullscreen
          allow="autoplay"
          style="
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 5px;
          "
        >
        </iframe>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-9">
      <h3>Mission</h3>
      <angular-editor
        [(ngModel)]="mission"
        required
        [config]="configMission"
      ></angular-editor>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-9">
      <h3>Vision</h3>
      <angular-editor
        [(ngModel)]="vision"
        required
        [config]="configVision"
      ></angular-editor>
    </div>
  </div>
  <div class="row" style="padding: 1rem 0rem">
    <div class="col-4">
      <button mat-flat-button (click)="missionVision()" color="primary">
        Update Mission and Vision
      </button>
    </div>
  </div>
</div>
