<div *ngIf="!isMobile" class="content">
  <ng-container *ngFor="let item of Desktopservant">
    <div class="grid-1">
      <div *ngFor="let servant of item" class="col-3">
        <div class="row cards">
          <div class="col-4 img-container">
            <img [src]="servant.img" alt="" />
          </div>
          <div class="col-8 servants">
            <h3>{{ servant.name }}</h3>
            <p>{{ servant.position }}</p>
          </div>
        </div>
        <div *ngIf="servant.misc" class="bottom-cards">
          <p>{{ servant.misc }}</p>
        </div>
      </div>
    </div></ng-container
  >
</div>

<div *ngIf="isMobile" class="content">
  <ng-container *ngFor="let item of Mobileservant">
    <div class="grid-1">
      <div class="col-6">
        <div class="row mobile-cards">
          <img [src]="item.img" alt="" />
          <h3>{{ item.name }}</h3>
          <p>{{ item.position }}</p>
        </div>
        <div *ngIf="item.misc" class="bottom-cards-mobile">
          <p>{{ item.misc }}</p>
        </div>
      </div>
    </div></ng-container
  >
</div>
