.close-btn {
  margin-right: -4px !important;
  margin-top: -60px !important;
  float: right;
  cursor: pointer;
}
.okay-btn {
  // float: right;
  background-color: #17a5c9;
}
.cancel-btn {
  // float: left;
}
mat-dialog-content {
  text-align: center;
}
