.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--primary-400);
  overflow: hidden;
  // background: linear-gradient(90deg, #05bbe850 73%, #05bbe850 60%);
}
.glass-login {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;

  h3 {
    color: #565656;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 23px;
  }
  p {
    color: #565656;
    margin: 2.5rem 0;
    font-weight: 500;
    font-size: 20px;
  }
  button {
    background-color: var(--primary-300);
    color: #fff;
    width: 30%;

    &:hover {
      background-color: var(--primary-100);
      transition: background-color 100ms ease-in;
    }
  }
}

.img-login {
  object-fit: contain;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.img-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
  .navbar-brand {
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 72%;
      display: block;
      margin: auto;
    }
  }
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  .sm-upper {
    margin: 0;
    font-weight: 300;
    color: #565656;
    font-size: 13px;
  }
  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #565656;
  }
}
