<div class="main-container">
  <div class="row">
    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 glass-login">
      <div class="row">
        <div class="col-3" style="padding: 2rem">
          <div class="row">
            <div class="col-3 img-wrap">
              <img
                src="../../assets/images/burgos-logo.png"
                alt="Burgos Ilocos Norte logo"
                class="img-fluid"
              />
            </div>

            <div class="col-9 text-wrapper">
              <p class="sm-upper">Republic of the Philippines</p>
              <h3>Municipality of Burgos</h3>
              <p class="sm-upper">Ilocos Norte, Philippines</p>
            </div>
          </div>

          <p>Login Your Admin Account</p>
          <form [formGroup]="loginForm">
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                formControlName="username"
                placeholder=""
                required
              />

              <mat-error
                *ngIf="loginForm.get('username')?.hasError('required')"
              >
                Please enter your email
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                required
              />

              <mat-error
                *ngIf="loginForm.get('password')?.hasError('required')"
              >
                Please enter your password
              </mat-error>
            </mat-form-field>

            <button
              mat-button
              color="primary"
              (click)="onLoginClick()"
              style="width: 100%"
            >
              {{ loading ? "Logging in" : "Login" }}
            </button>
          </form>
        </div>

        <div class="col-9" style="padding: 0">
          <img src="./../../assets/images/main-bg.jpg" class="img-login" />
        </div>
      </div>
    </div>
  </div>
</div>
