.main-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #05bbe850 73%, #05bbe850 60%),
    url("./../../assets/images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.glass-login {
  // width: 100%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem 3rem;

  img {
    width: 25%;
    margin-bottom: 1rem;
  }

  h3 {
    color: #565656;
    font-weight: 700;
    margin-bottom: 0;
  }
  p {
    color: #565656;
    margin-bottom: 2.5rem;
  }
  button {
    background-color: #05bbe8;
    color: #fff;
    width: 30%;
  }
}
