.top {
  text-align: center;
}
.upload-btn {
  border: 2px solid rgb(4, 87, 142) !important;
}
.close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  float: left;
  cursor: pointer;
}
