#history {
  background-image: linear-gradient(
      360deg,
      rgba(var(--primary-rgb), 0.83) 5%,
      rgba(var(--primary-rgb), 0.32) 62%,
      rgba(var(--primary-rgb), 0.14) 100%
    ),
    url("../../../../assets/images/light-hou.jpg");
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .container {
    position: absolute;
    padding: 0;
    bottom: -6%;

    h1 {
      color: var(--accent);
      font-size: 96px;
      font-weight: 700;
      letter-spacing: calc(1em * 0.01618);
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.08);
      text-shadow: -3px 3px 8px rgba(var(--accent-200-rgb), 0.13333);
    }
  }
}
.container {
  padding: 5.3rem 0rem;
  .title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
    position: relative;

    h3 {
      margin: 0;
      font-weight: 500;
      color: var(--primary);
      font-size: 36px;

      position: relative;
      width: auto;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   height: 45%;
      //   width: 100.5%;
      //   bottom: 5%;
      //   left: 12px;
      //   background-color: rgba(var(--accent-rgb), 0.45);
      //   z-index: -1;
      // }
    }
  }
  p {
    text-indent: 6%;
    font-size: 15px;
    color: #767676;
    text-align: justify;
    margin-bottom: 1.7rem;
  }

  ul {
    margin-left: 6.5rem;
    font-size: 15px;
    color: #767676;
  }

  li::marker {
    color: var(--primary);
    font-size: 17px;
  }
}

.floating-image {
  clear: both;
  width: 40%;
  margin: 24px 32px 24px 0;
  position: relative;
  &.left {
    float: left;

    &::before {
      content: "";
      display: block;
      float: right;
      height: 200px;
    }
  }

  &.right {
    float: right;
    &::before {
      content: "";
      display: block;
      float: right;
      height: 200px;
    }
  }
}

@media screen and (max-width: 900px) {
  #history .container {
    h1 {
      font-size: 64px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #history {
    .container {
      bottom: 0;
      h1 {
        font-size: 32px;
        text-shadow: -3px 3px 8px rgba(var(--accent-200-rgb), 0.25);
      }
    }
  }
  .container {
    width: 90%;
    margin: auto;
    padding: 3rem 0rem;

    ul {
      margin-left: 1.5rem;
    }

    .title > h3 {
      font-size: 24px;
      // &::after {
      //   display: none;
      //   // height: 105%;
      //   // left: 16px;
      //   // bottom: 7%;
      //   // width: 90%;
      // }
    }
  }
}
