<section id="history">
  <div class="container">
    <h1>Geographical Information</h1>
  </div>
</section>
<div class="container-fluid">
  <div class="geography-container row">
    <div class="col-12 col-lg-3">
      <div class="mb-5 geography-info order-last order-lg-first">
        <div
          class="position-relative"
          style="width: 100%; height: 100%"
          [@slideAnim]="lastAction"
          (@slideAnim.done)="lastActionReset(); debounceClick = false"
        >
          <ng-container
            *ngFor="
              let geoInfo of geographicalInfo.geographical_info;
              let i = index
            "
          >
            <div
              class="geo-content position-absolute"
              *ngIf="i === selectedGeoIndex"
            >
              <h3 class="geography-info-title">
                {{ geoInfo.title }}
              </h3>
              <p class="geography-info-body">
                {{ geoInfo.body }}
              </p>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="index-button-container">
        <i
          class="index-button bi bi-arrow-left"
          (click)="onGeoInfoChange('prev')"
        ></i>
        <i
          class="index-button bi bi-arrow-right"
          (click)="onGeoInfoChange('next')"
        ></i>
      </div>
    </div>

    <div class="col-12 col-lg-6 order-1 map-container">
      <div style="height: 100%; width: 100%" id="map"></div>
    </div>

    <div
      class="col-12 col-lg-3 order-first order-lg-last d-none d-sm-flex flex-row flex-lg-column justify-content-around justify-content-lg-start justify-content-lg-start my-5 my-lg-0"
    >
      <!-- *ngFor="let statistic of statisticalInformation" -->
      <div
        class="statistic-card d-flex flex-column justify-content-center align-items-center align-items-lg-start"
      >
        <h1 class="statistic-value">
          {{ geographicalInfo.population | number : "1.0" }}
        </h1>
        <p class="statistic-label">
          <span><i [class]="statistic[0]"></i> </span> Population({{
            geographicalInfo.year
          }})
        </p>
        <h1 class="statistic-value">
          {{ geographicalInfo.barangay | number : "1.0" }}
        </h1>
        <p class="statistic-label">
          <span><i [class]="statistic[1]"></i> </span> Barangays
        </p>
        <h1 class="statistic-value">
          {{ geographicalInfo.totalLandArea | number : "1.0" }}
        </h1>
        <p class="statistic-label">
          <span><i [class]="statistic[2]"></i> </span>Total Land Area
        </p>
      </div>
    </div>
  </div>
</div>
