<section id="history">
  <div class="container">
    <h1>Geographical Information</h1>
  </div>
</section>
<div class="container">
  <div class="wrapper">
    <div class="title">
      <h3>Geographic Location</h3>
    </div>
    <p>
      Located in between two growth centers, Laoag City and Bangui, lies the
      town of Burgos. It is 48 kilometers and 16 kilometers away from Laoag City
      and Bangui, respectively. It is approximately 540 kilometers north of
      Manila. It lies 18 degrees, 30 minutes latitude and 120 degrees, 38
      minutes longtitude. Bounded on the north and west by the West Philippine
      Sea, on the east by the municipalities of Bangui and Vintar, and on the
      south by the Municipality of Pasuquin. It is a coastal municipality with a
      15-kilometer coastline.
    </p>

    <div class="title">
      <h3>Topography/Slope</h3>
    </div>
    <!-- <span>
      <img [src]="image1" class="floating-image left d-none d-md-block"
    /></span> -->
    <p>
      Burgos has rugged terrain. Narrow to broad valley of rolling plains are
      found at 50 to 180 meters above sea level. These areas are bisected with
      creeks and gently sloping shallow depression originating from the hill
      ranges and draining into Baruyen River, the main tributary cutting thru
      the municipality. Slope ranges from 1% to 60%.
    </p>
    <div class="title">
      <h3>Land Resources</h3>
    </div>
    <p>
      Land Area. The municipality has a total land area of 12,928 hectares more
      or less based/as provided by the Department of Environment and Natural
      Resources Community Environment and Natural Resources Office (DENR-CENRO)
      Bangui, Ilocos Norte.
    </p>
    <div class="title">
      <h3>Land Classification</h3>
    </div>
    <p>
      Out of the total land area of the Municipality, about 7,345 hectares or
      56.81% of the total municipal land are classified as forestlands. The
      remaining 5,583 hectares or 43.19% are classified as Alienable and
      Disposable lands (A & D). All barangays, except Brgys. Saoit and Pagali,
      have forestlands.
      <!-- <span
        ><img [src]="image2" class="floating-image right d-none d-md-block"
      /></span> -->
    </p>

    <div class="title">
      <h3>Barangays</h3>
    </div>
    <p>
      The Municipality of Burgos is a 5th class municipality with eleven (11)
      barangays namely: Poblacion, Ablan, Agaga, Bayog, Bobon, Buduan, Nagsurot,
      Paayas, Pagali, Saoit and Tanap. Seven (7) are coastal barangays: Brgys.
      Paayas, Bobon, Bayog, Ablan, Pagali, Saoit and Poblacion. The remaining
      are landlocked barangays.
    </p>
  </div>
</div>
