<section id="history">
  <div class="container">
    <h1>Geographical Information</h1>
  </div>
</section>
<div class="container-fluid">
  <div class="geography-container row">
    <div class="position-relative col-12 col-lg-3">
      <div
        class="mb-5 js-geography-info geography-info order-last order-lg-first"
        [@swipeAnimation]="selectedGeoIndex"
      >
        <h3 class="geography-info-title">
          {{ geographicalInfo[selectedGeoIndex].title }}
        </h3>
        <p class="geography-info-body">
          {{ geographicalInfo[selectedGeoIndex].body }}
        </p>
      </div>
      <div class="index-button-container">
        <i
          class="index-button bi bi-arrow-left"
          (click)="onGeoInfoChange('prev')"
        ></i>
        <i
          class="index-button bi bi-arrow-right"
          (click)="onGeoInfoChange('next')"
        ></i>
      </div>
    </div>

    <div class="col-12 col-lg-6 order-1 map-container">
      <div style="height: 100%; width: 100%" id="map"></div>
    </div>

    <div
      class="col-12 col-lg-3 order-first order-lg-last d-none d-sm-flex flex-row flex-lg-column justify-content-around justify-content-lg-start justify-content-lg-start my-5 my-lg-0"
    >
      <div
        class="statistic-card d-flex flex-column justify-content-center align-items-center align-items-lg-start"
        *ngFor="let statistic of statisticalInformation"
      >
        <h1 class="statistic-value">{{ statistic.body }}</h1>
        <p class="statistic-label">
          <span><i [class]="statistic.icon"></i> </span> {{ statistic.title }}
        </p>
      </div>
    </div>
  </div>
</div>
