<app-spinner *ngIf="loading"></app-spinner>

<div [formGroup]="logo" class="logo" *ngIf="!loading">
  <div class="one">
    <h1>Manage Logo Meaning</h1>
  </div>

  <div class="save-btn">
    <button
      color="primary"
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="!edited"
    >
      SAVE
    </button>
  </div>

  <div formArrayName="cards">
    <div class="grid">
      <div
        *ngFor="let card of getCards().controls; let i = index"
        [formGroupName]="i"
        class="col-6"
      >
        <mat-card>
          <mat-form-field appearance="outline">
            <input
              style="font-weight: 550"
              matInput
              placeholder="Title"
              formControlName="title"
              type="text"
              required="true"
              (change)="onChange()"
            />
          </mat-form-field>
          <div class="img">
            <ng-container *ngFor="let image of images[i]">
              <img class="imgs" [src]="image" height="200px" />
            </ng-container>
          </div>
          <br />
          <mat-form-field appearance="outline">
            <mat-label>Information</mat-label>
            <textarea
              matInput
              placeholder="Information"
              formControlName="body"
              type="text"
              required="true"
              (change)="onChange()"
            >
            </textarea>
          </mat-form-field>
        </mat-card>
      </div>
    </div>
  </div>
</div>
