#bids {
  background-image: linear-gradient(
      90deg,
      #05bbe842 5%,
      #05bbe842 42%,
      #05bbe842 100%
    ),
    url("../../../assets/images/wind_mill.jpg");
  background-size: cover;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
  }
}
.tbl-header {
  margin-top: 1rem;
  color: #fff;
  background-color: #05bbe8;
  font-weight: 600;
  padding: 1rem 0.5rem;
}
.tbl-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    margin: 0;
  }
  b {
    cursor: pointer;
    &:hover {
      color: #05bbe8;
    }
  }
}
.type-nav {
  margin-top: 1rem;
  .navs {
    width: 100%;
    color: #fff;
    background-color: #05bbe8;
    margin: 0.1rem;
    border-radius: 2px;
    padding: 0.8rem 0.7rem;
    cursor: pointer;

    &:hover {
      transition: 0.1s ease;
      background: #0983a1;
    }
    &:focus {
      background: #0983a1;
    }
  }
  .navs-selected {
    width: 100%;
    color: #fff;
    background-color: #0983a1;
    margin: 0.1rem;
    border-radius: 2px;
    padding: 0.8rem 0.7rem;
    cursor: pointer;
  }
}

.tbl-dt {
  margin: 0.5rem 0rem;
}

@media screen and (max-width: 600px) {
  .main {
    width: 95%;
    margin: auto;
  }
}

// .loading-wrap {
//   height: 50vh;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   .icon {
//     font-size: 600%;
//     color: #9e9e9e;
//   }
//   p {
//     color: #9e9e9e;
//   }
// }
// .scale-in-center {
//   -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
//     infinite both;
//   animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
//     both;
// }
// @-webkit-keyframes scale-in-center {
//   0% {
//     -webkit-transform: scale(0);
//     transform: scale(0);
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     opacity: 1;
//   }
// }
// @keyframes scale-in-center {
//   0% {
//     -webkit-transform: scale(0);
//     transform: scale(0);
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     opacity: 1;
//   }
// }

// .container {
//   padding: 2rem 0rem;
// }

// .legislative-content {
//   //   background-color: #fff;
//   //   border-radius: 7px;

//   //   box-shadow: 0px -1px 33px -18px rgba(0, 0, 0, 0.75);
//   //   width: 100%;
//   //   padding: 0.5rem;
//   margin-top: 2rem;
//   h3 {
//     color: #05bbe8;
//     font-size: 18px;
//     margin-bottom: 0;
//   }
//   .sub-header {
//     font-size: 14px;
//     color: #9e9e9e;
//   }

//   .titleText {
//     color: #05bbe8;
//     font-size: 18px;
//     margin-bottom: 0;
//   }
// }

// .titleText {
//   color: #05bbe8;
//   font-size: 18px;
//   margin-bottom: 0;
// }
// #temp {
//   p {
//     color: #9e9e9e;
//     font-size: 14px;
//   }
// }

// .transparency {
//   height: 25vh;
//   width: 100%;
//   border: none;
//   background-color: #f9f8fd;
//   margin: 1.5rem 0rem;
//   .card-body {
//     background: linear-gradient(to bottom, #47c2d7, #279eb2);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     h4 {
//       color: #fff;
//       text-align: center;
//     }
//   }
//   .arrow {
//     margin: auto;
//     border-left: 20px solid transparent;
//     border-right: 20px solid transparent;

//     border-top: 20px solid #279eb2;
//   }
//   p {
//     margin: auto;
//     padding-bottom: 1rem;
//     padding-top: 0.5rem;
//   }
//   &:hover {
//     cursor: pointer;
//     box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.218);
//     p {
//       font-weight: 500;
//       color: #05bbe8;
//     }
//   }
// }

// @media only screen and (max-width: 600px) {
//   .container {
//     width: 95%;
//     margin: auto;
//   }
// }
