<app-no-content *ngIf="!loading && !transparencies?.length"></app-no-content>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading && transparencies.length" class="container">
  <div class="one">
    <h1>Transparencies</h1>
  </div>
  <div class="row" *ngIf="!loading && transparencies.length">
    <ng-container *ngFor="let item of transparencies">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="card transparency" (click)="viewTransparency(item)">
          <div class="card-body">
            <h4 class="card-text">{{ item.transparencyType }}</h4>
          </div>
          <div class="arrow"></div>
          <p>Read more</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
