<app-no-content *ngIf="!loading && !announcements?.length"></app-no-content>
<div class="container loading-wrap" *ngIf="loading">
  <div class="scale-in-center">
    <i class="bi bi-megaphone-fill icon"></i>
  </div>
  <p>Loading Announcements...</p>
</div>
<div class="container wrapper" *ngIf="!loading && announcements.length">
  <div class="row">
    <ng-container *ngFor="let item of announcements">
      <div class="col-3">
        <div class="card">
          <img
            src="../../../assets/images/empty-image.png"
            alt=""
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.createdAt | date: "longDate" }}</p>
            <a
              (click)="readMore(item)"
              style="color: #05bbe8; font-size: 13.5px; font-weight: 600"
              >READ MORE</a
            >
          </div>
        </div>
      </div></ng-container
    >
  </div>
</div>
