<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading" class="pb-3">
  <div class="one">
    <h1>Manage Officials' List</h1>
  </div>
  <div class="buttons">
    <button
      (click)="save()"
      [disabled]="!officials.dirty"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
    <button (click)="addRow()" mat-raised-button>
      <mat-icon style="color: #3e692f">add_box</mat-icon> <span>Add row</span>
    </button>
  </div>
  <div [formGroup]="officials">
    <div formArrayName="content">
      <div
        *ngFor="let content of getContent().controls; let i = index"
        [formGroupName]="i"
      >
        <mat-card class="mb-3 mt-3">
          <mat-icon class="menu-icn" color="warn" [matMenuTriggerFor]="menu"
            >more_vert</mat-icon
          >

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="removeRow(i)">
              <mat-icon color="warn">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="addRowBelow(i)">
              <mat-icon style="color: #3e692f">add</mat-icon>
              <span>Add Row Below</span>
            </button>
          </mat-menu>

          <button
            *ngIf="this.getContent().at(i).length < 4"
            mat-stroked-button
            (click)="addCol(i)"
          >
            <mat-icon style="color: #3e692f">add_box</mat-icon>
          </button>
          <div class="grid">
            <div
              *ngFor="let row of getRows(i).controls; let j = index"
              [formGroupName]="j"
              class="col"
            >
              <mat-divider [vertical]="true" *ngIf="j != 0"></mat-divider>
              <div class="content">
                <!-- <button (click)="upload(i, j)" mat-stroked-button>
                  <mat-icon>upload_outline</mat-icon><span>Upload</span>
                </button> -->
                <div class="img-upload">
                  <p>Upload image</p>
                  <img
                    (click)="upload(i, j)"
                    class="img"
                    alt=""
                    [src]="
                      row.value.url
                        ? row.value.url
                        : '/assets/images/Blank-Profile.png'
                    "
                  />
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input
                    style="font-weight: 550"
                    matInput
                    placeholder="Name"
                    formControlName="name"
                    type="text"
                    required="true"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Position</mat-label>
                  <input
                    matInput
                    placeholder="Position"
                    formControlName="position"
                    type="text"
                    required="true"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Misc</mat-label>
                  <input
                    matInput
                    placeholder="Misc"
                    formControlName="misc"
                    type="text"
                    placeholder="(optional)"
                    required="false"
                  />
                </mat-form-field>
                <br />
                <button
                  mat-stroked-button
                  (click)="removeCol(i, j)"
                  color="warn"
                >
                  Delete item
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
