span {
  position: relative;
  left: 8px;
}

.content {
  align-items: center;
  text-align: center;
}

mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
}

.col-card {
  box-shadow: 0px 0.6px 0.2px #929292, 0px 3.4px 7px #a7a7a7;
}

img {
  margin-top: 10px;
  width: 190px;
  height: 9%;
  position: relative;
  margin-bottom: 8px;
}
.buttons {
  display: flex;
  justify-content: center;

  button {
    margin-left: 10px;
  }
}

.mat-divider {
  height: 100%;
}
.mat-divider-vertical {
  position: absolute !important;
}

.menu-icn {
  float: right;
  position: absolute;
  top: 13px;
  right: 34px;
  z-index: 4;
  cursor: pointer;
}

.img-upload {
  position: relative;
  cursor: pointer;

  p {
    position: absolute;
    font-size: 24px;
    z-index: 2;

    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.img-upload:hover {
  img {
    opacity: 0.3;
  }
  p {
    visibility: visible;
  }
}
