<!-- <div class="wrapper">
  <div class="centered">
    <div class="containerss">
      <div class="shape shape-1"></div>
      <div class="shape shape-2"></div>
      <div class="shape shape-3"></div>
      <div class="shape shape-4"></div>
    </div>
  </div>
</div> -->
<div class="body">
  <div class="containers">
    <div class="windmill">
      <div class="line"></div>
      <div class="mill"></div>
      <div class="door"></div>
      <div class="fan">
        <div class="wingOne"></div>
        <div class="wingTwo"></div>
        <div class="wingThree"></div>
        <div class="wingFour"></div>
      </div>
      <div class="clouds"></div>
    </div>
  </div>
  <!-- <h3>Loading...</h3> -->
</div>
