.body {
  background-color: #f9f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
p {
  margin-top: 8rem;
  margin-bottom: 0;
}
.containers {
  position: relative;
}

.windmill {
  position: relative;
}

.mill {
  position: absolute;
  border-bottom: 130px solid #777777;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 10px;
  height: 0;
  top: -28px;
  left: -17px;
  z-index: 2;
}

.fan {
  position: absolute;
  background-color: #7b7b7b;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: -7px;
  top: -55px;
  z-index: 4;
  animation: spin 1.2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wingOne,
.wingTwo,
.wingThree,
.wingFour {
  position: absolute;
  width: 5px;
  border: 5px solid #565656;
  height: 25px;
  background-color: #e6e6ea;
  border-radius: 10px;
}

.wingOne:before,
.wingTwo:before,
.wingThree:before,
.wingFour:before {
  position: absolute;
  content: "";
  background-color: #3b8ea5;
  box-shadow: inset -5px 0 var(--primary-200);
  border: 5px solid #565656;
  width: 15px;
  height: 65px;
  top: 17px;
  left: -10px;
}

.wingOne {
  left: 5px;
  top: 15px;
}

.wingTwo {
  transform: rotate(90deg);
  top: -5px;
  left: -15px;
}

.wingThree {
  transform: rotate(-90deg);
  top: -5px;
  left: 25px;
}

.wingFour {
  transform: rotate(180deg);
  top: -25px;
  left: 5px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}
