<h3 mat-dialog-title>Add Files</h3>
<mat-dialog-content>
  <div class="row">
    <div class="col-4">
      <mat-form-field style="width: 100%">
        <mat-label>Title</mat-label>
        <input
          type="text"
          [formControl]="fileTitle"
          matInput
          required="false"
        />
      </mat-form-field>
      <ngx-file-drop
        dropZoneClassName="drop-zone"
        contentClassName="drop-zone-content"
        browseBtnClassName="drop-zone-btn"
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <ng-container>
            <button
              (click)="openFileSelector()"
              mat-stroked-button
              color="primary"
              [disabled]="!fileTitle.value"
            >
              Browse File
            </button>

            <p style="margin-top: 1rem">
              Accepted Format/s: {{ acceptedDocs }}
            </p>
          </ng-container>
        </ng-template>
      </ngx-file-drop>
      <button
        mat-stroked-button
        [disabled]="imageB64 === ''"
        (click)="addFile()"
        style="margin-bottom: 1rem"
      >
        Add File
      </button>
    </div>
    <div class="col-8">
      <p style="text-align: center" *ngIf="!filesArr.length">No Files Added.</p>
      <div class="row">
        <ng-container *ngFor="let item of filesArr; let i = index">
          <div class="col-4" style="position: relative">
            <section *ngIf="filesArr.length" class="cardss">
              <p>{{ item.title }}</p>
              <img
                src="../../../../../assets/images/pdf-file (1).png"
                style="width: 25%"
              />
              <p (click)="removeFile(item)" class="rem">
                <u>Remove</u>
              </p>
            </section>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    color="primary"
    [disabled]="!filesArr.length"
    (click)="proceedAdding()"
  >
    Proceed adding or removing files
  </button>
</mat-dialog-actions>
