.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  background-color: rgba(var(--primary-rgb), 0.606);
  transition: all 0.2s ease-in-out;
  z-index: 999;
  color: #fff;
  border-radius: 5px;

  &:hover {
    opacity: 1;
    background-color: rgba(var(--accent-rgb), 0.851);
    transition: all 0.2s ease-in-out;
    z-index: 999;
    color: #fff;
  }

  .btn:focus {
    box-shadow: none !important;
  }
}

.btn {
  color: #fff;
}
