<section *ngIf="!loading">
  <section id="bids">
    <div class="container">
      <h1>Bids & Awards Commitee</h1>
    </div>
  </section>
  <div style="padding: 1.5rem 0rem; padding-bottom: 2rem" class="container">
    <div class="row main">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 type-nav">
        <ng-container *ngFor="let type of bidTypes">
          <p
            (click)="findType(type.type)"
            [class]="type.selected ? 'navs-selected' : 'navs'"
          >
            <b><i class="bi bi-chevron-right"></i>&nbsp;{{ type.type }}</b>
          </p>
        </ng-container>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <div class="row tbl-header" *ngIf="!searching">
          <div class="col-1">No.</div>
          <div class="col-7">Description</div>
          <div class="col-2">Date Posted</div>
          <div class="col-2" *ngIf="!isBidSelected">Type</div>
          <div class="col-2" *ngIf="isBidSelected">Status</div>
        </div>
        <section *ngIf="bids.length && !searching">
          <ng-container *ngFor="let item of bids">
            <div class="row tbl-dt">
              <div class="col-1 tbl-row">
                <p>{{ item.id }}</p>
              </div>
              <div [matMenuTriggerFor]="openFile" class="col-7 tbl-row">
                <p
                  matTooltip="Show files for {{ item.id }}"
                  matTooltipPosition="right"
                >
                  <b>{{ item.description }}</b>
                </p>
                <mat-menu #openFile="matMenu">
                  <ng-container *ngFor="let i of item.files">
                    <button
                      (click)="
                        openSelectedFile(i.url, i.file.name.split('.')[1])
                      "
                      mat-menu-item
                    >
                      <mat-icon>description</mat-icon><span>{{ i.title }}</span>
                    </button></ng-container
                  >
                </mat-menu>
              </div>
              <div class="col-2 tbl-row">
                <p>{{ item.date | date: "mediumDate" }}</p>
              </div>
              <div *ngIf="!isBidSelected" class="col-2 tbl-row">
                <p>{{ item.type }}</p>
              </div>
              <div *ngIf="isBidSelected" class="col-2 tbl-row">
                <p>{{ item.bidStatus }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
        </section>
        <section *ngIf="!bids.length && !searching">
          <p style="text-align: center; margin: 0.5rem">No data yet.</p>
        </section>

        <app-spinner *ngIf="searching"></app-spinner>
        <mat-paginator
          *ngIf="bids.length && !searching"
          [length]="pagination.totalDocuments"
          [pageSize]="pagination.pageSize"
          [pageSizeOptions]="[10, 25, 100, 200, 500]"
          showFirstLastButtons
          (page)="onPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
<app-spinner *ngIf="loading"></app-spinner>
