<div class="container">
  <div class="one">
    <h1>Bids & Awards Committee</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <mat-form-field style="display: block" appearance="fill">
          <mat-label>Search by type</mat-label>
          <mat-select [(ngModel)]="search" required="false">
            <mat-option value="All">All</mat-option>
            <mat-option value="Invitation to Bid">Invitation to Bid</mat-option>
            <mat-option value="Request for Quotation"
              >Request for Quotation</mat-option
            >
            <mat-option value="Notice of Award">Notice of Award</mat-option>
            <mat-option value="Notice to proceed">Notice to proceed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <button
          style="height: 70%; background-color: #05bbe8"
          mat-flat-button
          color="primary"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!loading && bids?.length && !searching">
      <ng-container *ngFor="let item of bids; let i = index">
        <hr *ngIf="i !== 0" />
        <h3>{{ item.id }}</h3>
        <p class="type">{{ item.type }}</p>

        <p class="desc">{{ item.description }}</p>
        <ng-container *ngFor="let file of item.files">
          <ul>
            <li (click)="openFile(file.url, file.file.path_display)">
              {{ file.title }}
            </li>
          </ul>
        </ng-container>
        <p class="date">
          Posted on:
          <i
            ><b>{{ item.createdAt | date: "medium" }}</b></i
          >
        </p>
      </ng-container>
    </div>
    <div class="row" *ngIf="searching">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<app-no-content *ngIf="!loading && !bids?.length"></app-no-content>
