<app-spinner *ngIf="loading"></app-spinner>
<div class="hotline" *ngIf="!loading">
  <div class="one">
    <h1>Manage Hotlines</h1>
  </div>
  <div>
    <button
      mat-raised-button
      style="background-color: #0f8aa8; color: #fff"
      (click)="submit()"
      [disabled]="!contacts.dirty"
    >
      SAVE
    </button>
    <button
      mat-raised-button
      class="add-btn"
      style="float: right"
      (click)="addHotlineAbove()"
    >
      <mat-icon>add_circle</mat-icon> Add Hotline Above
    </button>
  </div>
  <div [formGroup]="contacts">
    <ng-container formArrayName="hotlines">
      <ng-container
        *ngFor="let contact of getHotlines().controls; let i = index"
        [formGroupName]="i"
      >
        <br />
        <mat-card>
          <mat-form-field style="width: 100%" appearance="standard">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              type="text"
              required="true"
            />
          </mat-form-field>

          <mat-icon
            color="warn"
            style="position: absolute; top: 13px; right: 34px; color: #f84535"
            [matMenuTriggerFor]="menu"
            >more_vert</mat-icon
          >

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteHotline(i)">
              <mat-icon style="color: #f84535">delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="addHotlineBelow(i)">
              <mat-icon style="color: #3e692f">add</mat-icon>
              <span>Add Hotline Below</span>
            </button>
          </mat-menu>

          <ng-container formArrayName="contact_nums">
            <ng-container
              *ngFor="let num of number(i).controls; let num_index = index"
              [formGroupName]="num_index"
            >
              <mat-form-field class="input" appearance="standard">
                <mat-label>Number</mat-label>

                <input
                  matInput
                  placeholder="Number"
                  formControlName="numbers"
                  required="true"
                />
                <mat-icon matPrefix>phone</mat-icon>
                <mat-icon
                  style="color: #f84535"
                  matSuffix
                  (click)="removeNum(i, num_index)"
                  >close</mat-icon
                >
              </mat-form-field>
            </ng-container>
            <button class="add-btn" mat-stroked-button (click)="addNumber(i)">
              <mat-icon>add_box</mat-icon> Add Number
            </button>
          </ng-container>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
