.hotline {
  margin: 0 2rem 0 3rem;
  padding-bottom: 5rem;
}
mat-card {
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.add-btn {
  mat-icon {
    color: #3e692f;
  }
}

.delete-btn {
  mat-icon {
    color: #d0392b;
  }
}

.submit-btn {
  float: right;
  width: 10%;
  background-color: #f1eef085;
  border: 2px solid #0f8aa8;
}

.input {
  margin-right: 30px;
}
