<app-spinner *ngIf="loading"></app-spinner>
<div class="hotline" *ngIf="!loading">
  <div class="one">
    <h1>Manage Hotlines</h1>
  </div>
  <div class="buttons">
    <button style="float: left" class="add-btn mb-4" (click)="addHotline()">
      <mat-icon>add_circle</mat-icon><span>Add Hotline</span>
    </button>
    <button class="submit-btn mt-3 mb-4" mat-stroked-button (click)="submit()">
      Save
    </button>
  </div>
  <div [formGroup]="contacts">
    <ng-container formArrayName="hotlines">
      <ng-container
        *ngFor="let contact of getHotlines().controls; let i = index"
        [formGroupName]="i"
      >
        <br />
        <mat-card>
          <mat-form-field style="width: 100%" appearance="standard">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              type="text"
              required="true"
            />
          </mat-form-field>

          <button
            style="position: absolute; top: 13px; right: 34px; color: #f84535"
            class="delete-btn"
            (click)="deleteHotline(i)"
          >
            <span>Delete</span>
          </button>

          <ng-container formArrayName="contact_nums">
            <ng-container
              *ngFor="let num of number(i).controls; let num_index = index"
              [formGroupName]="num_index"
            >
              <mat-form-field
                class="input"
                style="display: inline-block"
                appearance="outline"
              >
                <mat-label>Number</mat-label>

                <input
                  matInput
                  placeholder="Number"
                  formControlName="numbers"
                  required="true"
                />

                <mat-icon matPrefix class="prefix">phone</mat-icon>
                <mat-icon
                  *ngIf="num.get('numbers').value.length > 0"
                  style="color: #f84535"
                  matSuffix
                  (click)="removeNum(i, num_index)"
                  >close</mat-icon
                >
              </mat-form-field>
            </ng-container>
            <button matFlatButton (click)="addNumber(i)" class="add-btn">
              <mat-icon class="add">add_circle</mat-icon><span>Add Number</span>
            </button>
          </ng-container>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
