<app-no-content *ngIf="!loading && !touristSpots?.length"></app-no-content>
<div class="container loading-wrap" *ngIf="loading">
  <div class="scale-in-center">
    <i class="bi bi-megaphone-fill icon"></i>
  </div>
  <p>Loading Tourist Spots...</p>
</div>
<div *ngIf="!loading" class="container">
  <div class="one">
    <h1>Tourist Spots</h1>
  </div>
  <p>The best and most beautiful places here in Burgos, Ilocos Norte</p>
  <div class="row">
    <ng-container *ngFor="let item of touristSpots">
      <div class="img-cards col-lg-4 col-xl-4 col-md-6 col-sm-12">
        <img
          [src]="
            item.imgUrl ? item.imgUrl : '../../../assets/images/empty-image.png'
          "
          alt=""
        />
        <div class="desc">
          <p class="title">{{ item.title }}</p>
          <p class="loc">{{ item.location }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
