<div class="container">
  <div class="one">
    <h1>Tourist Spots</h1>
  </div>
  <p>The best and most beautiful places here in Burgos, Ilocos Norte</p>
  <div class="row">
    <div class="col-3">
      <mat-form-field style="display: block" appearance="fill">
        <mat-label>Search by type</mat-label>
        <mat-select [(ngModel)]="search" required="false">
          <mat-option value="All">All</mat-option>
          <mat-option value="Tourist Spot">Tourist Spot</mat-option>
          <mat-option value="Festival">Festival</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <button
        style="height: 70%; background-color: #05bbe8"
        mat-flat-button
        color="primary"
        (click)="onSearch()"
      >
        Search
      </button>
    </div>
  </div>
  <div *ngIf="!loading && !searching" class="row">
    <ng-container *ngFor="let item of touristSpots">
      <div
        (click)="showMore(item)"
        class="img-cards col-lg-4 col-xl-4 col-md-6 col-sm-12"
      >
        <img
          [src]="
            item.imgUrl ? item.imgUrl : '../../../assets/images/empty-image.png'
          "
          alt=""
        />
        <div class="desc">
          <p class="title">{{ item.title }}</p>
          <p class="loc">{{ item.location }}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <app-spinner *ngIf="searching"></app-spinner>
</div>
<app-no-content *ngIf="!loading && !touristSpots?.length"></app-no-content>
<app-spinner *ngIf="loading"></app-spinner>
