<section *ngIf="!loading">
  <section id="service">
    <div class="container">
      <h1>Issuances</h1>
    </div>
  </section>
  <div style="padding: 4rem 0rem" class="container">
    <div class="row">
      <div class="col-8"></div>
      <div style="padding: 0" class="col-3">
        <mat-form-field
          style="display: block; font-size: 12px"
          appearance="fill"
        >
          <mat-label>Search by type</mat-label>
          <mat-select [(ngModel)]="search" required="false">
            <mat-option value="All">All</mat-option>
            <mat-option value="Executive Order">Executive Order</mat-option>
            <mat-option value="Ordinance">Ordinance</mat-option>
            <mat-option value="Resolution">Resolution</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="padding-right: 0" class="col">
        <button
          style="height: 77%; background-color: #05bbe8; width: 100%"
          mat-flat-button
          color="primary"
          (click)="onSearch()"
        >
          {{ searching ? "Searching" : "Search" }}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row tbl-header" *ngIf="!searching">
          <div class="col-5">Title</div>
          <div class="col-4">Type</div>
          <div class="col-3" style="text-align: center">Action</div>
        </div>
        <app-spinner *ngIf="searching"></app-spinner>
        <section *ngIf="legislatives.length && !searching">
          <ng-container *ngFor="let item of legislatives">
            <div class="row tbl-dt">
              <div class="col-5 tbl-row">
                <p>
                  <b>{{ item.title }}</b>
                </p>
              </div>
              <div class="col-4 tbl-row">
                <p>{{ item.legislativeType }}</p>
              </div>
              <div class="col-3">
                <a
                  mat-flat-button
                  style="margin-right: 0.3rem"
                  color="primary"
                  [href]="item.imgUrl"
                >
                  Download
                </a>
                <button
                  (click)="preview(item.imgUrl, item.file.name.split('.')[1])"
                  mat-flat-button
                  color="accent"
                >
                  Preview
                </button>
              </div>
            </div>
          </ng-container>
        </section>
        <section *ngIf="!legislatives.length && !searching">
          <p style="text-align: center; margin: 0.5rem">No data yet.</p>
        </section>
        <mat-paginator
          *ngIf="legislatives.length && !searching"
          [length]="pagination.totalDocuments"
          [pageSize]="pagination.pageSize"
          [pageSizeOptions]="[10, 25, 100, 200, 500]"
          showFirstLastButtons
          (page)="onPageChange($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
<app-spinner *ngIf="loading"></app-spinner>
