#service {
  background-image: linear-gradient(
      90deg,
      #05bbe842 5%,
      #05bbe842 42%,
      #05bbe842 100%
    ),
    url("../../../assets/images/wind_mill.jpg");
  background-size: cover;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
  }
}
.tbl-header {
  margin-top: 1rem;
  color: #fff;
  background-color: var(--primary);
  font-weight: 600;
  padding: 1rem 0.5rem;
}
.tbl-dt {
  padding: 1rem 0rem;
  &:nth-child(even) {
    background-color: #05bbe818;
  }
}
.tbl-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    margin: 0;
  }
  b {
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}
