<app-no-content *ngIf="!loading && !legislatives?.length"></app-no-content>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading && legislatives.length" class="container">
  <div class="one">
    <h1>Issuances</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <mat-form-field style="display: block" appearance="fill">
          <mat-label>Search by type</mat-label>
          <mat-select [(ngModel)]="search" required="false">
            <mat-option value="All">All</mat-option>
            <mat-option value="Internal Procedure"
              >Internal Procedure</mat-option
            >
            <mat-option value="Ordinance">Ordinance</mat-option>
            <mat-option value="Resolution">Resolution</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <button
          style="height: 70%; background-color: #05bbe8"
          mat-flat-button
          color="primary"
          (click)="onSearch()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="container legislative">
    <ng-container *ngFor="let item of legislatives; let i = index">
      <hr *ngIf="i !== 0" />
      <div class="row">
        <div class="col-sm-12 col-xl-4 col-lg-4 col-md-4">
          <img [src]="item.imgUrl" alt="" />
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="legislative-content">
            <h3>{{ item.title }}</h3>
            <p class="sub-header">
              Posted in {{ item.createdAt | date: "Y" }}
              {{ item.legislativeType }}
            </p>
            <div #temp id="temp" [innerHTML]="item.layout"></div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
