<section *ngIf="!loading">
  <section
    id="service"
    [style.background]="
      'linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.33)), fixed center / cover no-repeat url(' +
        headerBackground +
        ')' ||
      'background-image: linear-gradient( 90deg, #05bbe842 5%, #05bbe842 42%, #05bbe842 100%), url(../../../assets/images/wind_mill.jpg);'
    "
  >
    <div class="container">
      <h1>Services</h1>
    </div>
  </section>
  <div style="padding: 1.5rem 0rem; padding-bottom: 2rem" class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 type-nav">
        <ng-container *ngFor="let item of services">
          <p
            (click)="onSelect(item.title)"
            [class]="item.selected ? 'navs-selected' : 'navs'"
          >
            <b><i class="bi bi-chevron-right"></i>&nbsp;{{ item.title }}</b>
          </p>
        </ng-container>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
        <h3 class="title">{{ activeService.title }}</h3>
        <div [innerHTML]="activeService.layout"></div>
        <div style="padding: 1rem"></div>
        <a *ngIf="activeService.tempFile" [href]="activeService.tempFile"
          >Download Attached File for {{ activeService.title }}</a
        >
      </div>
    </div>
  </div>
</section>
<app-spinner *ngIf="loading"></app-spinner>
