<app-no-content *ngIf="!loading && !services?.length"></app-no-content>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading && services.length" class="container">
  <div class="one">
    <h1>Services</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="service-wrap" *ngFor="let item of services">
          <h3>{{ item.title }}</h3>
          <p [innerHTML]="item.layout"></p>
          <p
            *ngIf="item.file"
            class="btns"
            (click)="openFile(item.tempFile, item.file.path_display)"
          >
            View Document
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
