<section *ngIf="!loading">
  <section id="service">
    <div class="container">
      <h1>Services</h1>
    </div>
  </section>
  <div style="padding: 1.5rem 0rem; padding-bottom: 2rem" class="container">
    <div class="row">
      <div class="col-9">
        <h3 class="title">{{ activeService.title }}</h3>
        <div [innerHTML]="activeService.layout"></div>
        <a *ngIf="activeService.tempFile" [href]="activeService.tempFile"
          >Download Attached File for {{ activeService.title }}</a
        >
      </div>
      <div class="col-3 type-nav">
        <ng-container *ngFor="let item of services">
          <p
            (click)="onSelect(item.title)"
            [class]="item.selected ? 'navs-selected' : 'navs'"
          >
            <b><i class="bi bi-chevron-right"></i>&nbsp;{{ item.title }}</b>
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<app-spinner *ngIf="loading"></app-spinner>
