.geo {
  // margin: 0 2rem 0 3rem;
  text-align: center;

  background-size: cover;
}

.add-btn,
.delete-btn {
  border: none;
  background-color: transparent;
}
.delete-btn {
  position: absolute;
  top: 13px;
  right: 17px;
  z-index: 2;

  mat-icon {
    color: #d0392b;
  }
}
.delete-btn:hover {
  mat-icon {
    color: #f84535;
  }
  span {
    color: #7c534f;
  }
}
.add-btn {
  // margin-top: 30px;
  mat-icon {
    color: #3e692f;
  }
}
.add-btn:hover {
  mat-icon {
    color: #4f853b;
  }
  span {
    color: #35512b;
  }
}
.geo-info {
  margin: 0px 30px 0px 30px;
}

span {
  position: relative;
  bottom: 6px;
  left: 8px;
}

.card,
.card1 {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid #ceddd9;
  // background: radial-gradient(circle, rgba(255, 255, 255, 1) 6%, #f0f0f5 100%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 12%, #edf3f1 90%);
  box-shadow: 5px 5px 10px #dddcdc, -5px -5px 10px #ffffff;
}

.card1 {
  border: 2px solid #efeadd;
  background: radial-gradient(circle, rgb(245, 244, 244) 6%, #f7f6f3 50%);
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  background: none;
}
.buttons {
  .addH-btn {
    float: left;
    margin-left: 4%;
  }
  .submit-btn {
    border: 2px solid #0f8aa8;
    float: right;
    margin-right: 5%;
  }
}
.mat-form-field {
  width: 100%;
}

textarea {
  height: 200px;
}
.add-container {
  margin-top: 130px;
  mat-icon {
    text-shadow: 2px 2px 10px #a3c0c7;
    color: #0f8aa8;
    font-size: 40px;
  }
  h3 {
    color: rgb(35, 34, 34);
    text-align: center;
  }
}

.add-geoInfo:hover {
  cursor: pointer;
}
