#about-us {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(var(--primary-300-rgb), 0.88) 25%,
    var(--primary-400) 100%
  );
  .container {
    position: relative;
    padding: 6rem 0rem;
    height: 100%;
    width: 100%;
  }
}

.change-screen-button {
  position: absolute;
  width: 240px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;

  &:hover.bottom .arrow-container {
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(10px);
  }

  &:hover.top .arrow-container {
    transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(-10px);
  }

  &.top {
    top: 20px;
  }
  &.bottom {
    bottom: 124px;
  }
  .label {
    display: block;
    padding-top: 16px;
    text-align: center;
    position: relative;
    color: rgba(255, 255, 255, 0.72);
    font-size: 16px;
    letter-spacing: calc(1em * 0.01618);
  }
}

.arrow-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: 50%;
  color: rgba(255, 255, 255, 0.72);
}

.hero-container {
  position: relative;
  top: 23%;
  height: 55%;
  overflow: hidden;
}

.header-container {
  height: 144px;
  overflow: hidden;
  margin-bottom: 32px;

  .header {
    font-size: 120px;
    font-weight: 700;
    letter-spacing: calc(1em * 0.01618);

    color: white;
  }
}
.body-container {
  min-height: 120px;
  overflow: hidden;

  .body {
    width: 60%;
    position: relative;
    left: 5px;
    font-size: 16px;
    text-align: start;

    color: white;
  }
}

li {
  color: white;
  font-size: 18px;
  &::marker {
    color: var(--white);
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .header-container {
    height: auto;
    .header {
      font-size: 72px;
    }
  }

  .body-container {
    height: auto;
    .body {
    }
  }

  li {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    margin-bottom: 32px;
    .header {
      font-size: 56px;
      text-align: center;
    }
  }

  .body-container {
    padding: 0 32px;
    .body {
      font-size: 14px;
      text-align: justify;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  li {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .hero-container {
    overflow: visible;
    top: 8%;
    height: 100%;
  }

  .header-container {
    padding: 0 32px;
  }
  .body-container {
    overflow: visible;
  }
}
