<section id="about-us" class="about-us">
  <div class="container">
    <!-- <div class="one">
      <h1>About us</h1>
    </div> -->
    <section *ngIf="hasExistingMisVis">
      <h3>Mission</h3>
      <div [innerHTML]="about.missionLayout"></div>
      <div style="margin: 2rem 0rem"></div>
      <h3>Vision</h3>
      <div [innerHTML]="about.visionLayout"></div>
    </section>
    <section *ngIf="!hasExistingMisVis">
      <div class="row row-about">
        <div
          class="col-lg-6 col-xl-6 col-sm-12 col-md-12 about-img-container right"
        >
          <img
            src="../../../../assets/images/undraw_browsing_online_re_umsa.svg"
            alt=""
          />
        </div>
        <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mission-desc">
          <h3>Mission</h3>
          <p>
            Burgos shall improve the quality of life of every Burgoseño through:
          </p>
          <ul *ngFor="let item of missions">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>
      <div class="row row-about">
        <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 vision-desc">
          <h3>Vision</h3>
          <p>
            The renewable energy and tourism capital of the North with balanced
            and climate-resilient community under the stewardship of firm and
            committed leaders inhabited by empowered and God-fearing citizenry.
          </p>
        </div>
        <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 about-img-container">
          <img
            src="../../../../assets/images/undraw_pitching_re_fpgk.svg"
            alt=""
          />
        </div>
      </div>
    </section>
  </div>
</section>
