<section id="about-us">
  <div class="container" *ngIf="!loading">
    <div class="background-animation-container">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div
      class="change-screen-button {{ screenIndex === 0 ? 'bottom' : 'top' }}"
      (click)="changeScreen()"
    >
      <div class="arrow-container">
        <mat-icon>{{
          screenIndex === 0 ? "arrow_downward" : "arrow_upward"
        }}</mat-icon>
      </div>

      <p class="label">
        {{ screenIndex === 1 ? screens[0].header : screens[1].header }}
      </p>
    </div>

    <div class="hero-container">
      <div
        class="header-container"
        [@animation]="screenIndex === 0 ? 'vision' : 'mission'"
      >
        <ng-container *ngIf="screenIndex === 0">
          <h1 class="vision header">{{ screens[0].header }}</h1>
        </ng-container>

        <ng-container *ngIf="screenIndex === 1">
          <h1 class="mission header">{{ screens[1].header }}</h1>
        </ng-container>
      </div>

      <div
        class="body-container"
        [@animation]="screenIndex === 0 ? 'vision' : 'mission'"
      >
        <ng-container *ngIf="screenIndex === 0">
          <p class="vision body">{{ screens[0].body }}</p>
          <ng-container *ngIf="screens[0].items">
            <ul class="vision">
              <li *ngFor="let item of screens[0].items">{{ item }}</li>
            </ul>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="screenIndex === 1">
          <div class="mission-inner" [innerHTML]="test"></div>
          <!-- <p class="mission body">{{ screens[1].body }}</p> -->
          <ng-container *ngIf="screens[1].items">
            <ul class="mission">
              <li *ngFor="let item of screens[1].items">{{ item }}</li>
            </ul>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
