<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 img-wrap">
      <!-- <div class="icon">
        <i class="bi bi-quote ics"></i>
      </div> -->
      <div class="img-container">
        <img src="../../../../assets/images/mayor-img.jpg" alt="" />
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 text-wrap">
      <i class="bi bi-quote ics"></i>
      <p>
        We take pride that with the advent of Republic Act 9485, an Act to
        improve efficiency in the Delivery of Government Service to the Public
        By Reducing Bureaucratic Red Tape, Preventing Graft and Corruption and
        Providing Penalties thereof, the Local Government Unit of Burgos, Ilocos
        Norte, had formulated and adopted its own Citizen’s Charter.
      </p>
      <p>
        I commend therefore, the Citizen’s Charter Implementation Team (CCIT)
        for the hard work, dedication, and professionalism that they have
        exhibited during the formulation, edition and finalization of the said
        Charter.
      </p>
      <p>
        The Citizen’s Charter signifies not only our continuing effort to
        improve further the delivery of frontline services but also our
        commitment to promote efficiency and transparency with regard to the
        manner of transacting with the public. As such, with the Citizen’s
        Charter, the Public is better assisted for it serves as a guide and a
        tool for simplified frontline service procedures and formulated service
        to include, service coverage, requirements, service schedules and
        service fee, if ever there be.
      </p>
      <p>
        Let us then be one in making changes in the way we deliver service to
        the public, for everybody clamor for the best! Mabuhay!
      </p>
      <i class="bi bi-quote ics-2"></i>

      <p class="name"><b>HON. CRESCENTE N. GARCIA</b></p>
      <p class="pos">Municipal Mayor</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 v-mayor">
      <div class="img-container">
        <img src="../../../../assets/images/vice-mayor-img.jpg" alt="" />
      </div>
      <div class="text">
        <p>
          In support to the implementation of the Anti-Red Tape Act, a Charter
          of the Local Government of Burgos, Ilocos Norte was created.
        </p>
        <p>
          May I salute the Citizen’s Charter Implementation Team (CCIT) for
          painstakingly formulated, scrutinized, and edited the said Charter.
        </p>
        <p>
          Hopefully, with the prominent display of this document in every
          office, the clienteles will be guided properly so that unnecessary
          delay in the delivery of frontline services in the LGU will be
          eliminated. After all, they deserve the best.
        </p>

        <p class="name"><b>HON. RODOLFO L. GARCIA</b></p>
        <p class="pos">Municipal Vice Mayor</p>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 text-wrap">
      <p>
        In support to the implementation of the Anti-Red Tape Act, a Charter of
        the Local Government of Burgos, Ilocos Norte was created.
      </p>
      <p>
        May I salute the Citizen’s Charter Implementation Team (CCIT) for
        painstakingly formulated, scrutinized, and edited the said Charter.
      </p>
      <p>
        Hopefully, with the prominent display of this document in every office,
        the clienteles will be guided properly so that unnecessary delay in the
        delivery of frontline services in the LGU will be eliminated. After all,
        they deserve the best.
      </p>

      <p class="name"><b>HON. RODOLFO L. GARCIA</b></p>
      <p class="pos">Municipal Vice Mayor</p>
    </div>
  </div> -->
</div>
