<div class="container">
  <div class="wrapper">
    <h3>GLIMPSE OF BURGOS</h3>
    <p>
      The municipality of Burgos is significantly depicted and identified by its
      official seal.
    </p>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 img-container">
        <img src="../../../../assets/images/burgos-logo.png" alt="" />
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 desc-container">
        <h3>The Shield</h3>
        <p>
          It emphasizes that Burgos is one of the municipalities of the province
          of Ilocos Norte and is under the guidance of the provincial
          government.
        </p>
        <h3>The Lighthouse</h3>
        <p>
          It stands for the governing body and the different government agencies
          stationed within the locality which oversees how the municipality is
          managed.
        </p>
        <h3>The Light</h3>
        <p>
          It stands for the different services rendered or offered to the
          populace.
        </p>
        <h3>The Mountain and Sea</h3>
        <p>
          They symbolize the geographical location of the municipality for
          reason that Burgos is a coastal town and surrounded by verdant hills
          and mountains.
        </p>
      </div>
    </div>
  </div>
</div>
