<div class="container">
  <div class="wrapper">
    <h3>GLIMPSE OF BURGOS</h3>
    <p>
      The municipality of Burgos is significantly depicted and identified by its
      official seal.
    </p>
    <div class="row px-3 px-md-0 main-container">
      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 order-first order-lg-1 img-container"
      >
        <img
          class="main-logo {{ selectedCard ? 'blur' : '' }}"
          [src]="burgosLogo"
          alt=""
        />
        <img class="shield" [src]="shield" alt="" />
        <img class="light" [src]="light" alt="" />
        <img class="light-house" [src]="lightHouse" alt="" />
        <img class="mountain" [src]="mountain" alt="" />
        <img class="sea" [src]="sea" alt="" />
      </div>
      <!-- LEFT SECTION -->
      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 order-1 order-lg-first desc-container"
      >
        <ng-container *ngFor="let card of cardsSectionLeft">
          <div
            class="clickable-card"
            [ngClass]="{
              selected: selectedCard && selectedCard.title === card.title
            }"
            (click)="onPartSelect(card)"
          >
            <h3 class="title">{{ card.title }}</h3>
            <p class="body">{{ card.body.trim() }}</p>
          </div>
        </ng-container>
      </div>
      <!-- RIGHT SECTION -->
      <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 order-last order-md-1 desc-container"
      >
        <ng-container *ngFor="let card of cardsSectionRight">
          <div
            class="clickable-card"
            [ngClass]="{
              selected: selectedCard && selectedCard.title === card.title
            }"
            (click)="onPartSelect(card)"
          >
            <h3 class="title">{{ card.title }}</h3>
            <p class="body">{{ card.body.trim() }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
