.main-nav {
  // padding: 0.5rem 3.8rem;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.751) 0%,
    #00000019 70%,
    #00000000 100%
  );
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999999;
  padding: 0;
  .nav-item {
    .nav-link {
      color: var(--white);
      font-weight: 600;
      cursor: pointer;
    }
  }
  padding: 0rem 1rem;
}

.text-shadow {
  .nav-item > .nav-link {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.headers {
  background-image: linear-gradient(
      90deg,
      rgba(var(--primary-300-rgb), 0.88) 25%,
      var(--primary-400) 100%
    ),
    url("./../../assets/images/mosaic.jpg");
  position: sticky;
  top: 0;
  z-index: 99;
  .navbar {
    padding: 0rem 1rem;
  }
  .nav-item {
    .nav-link {
      color: var(--white);
      font-weight: 600;
      text-shadow: none;
    }
  }
  padding: 0rem 1rem;
}
.header {
  background-image: linear-gradient(
    90deg,
    rgba(var(--primary-300-rgb), 0.88) 25%,
    var(--primary-400) 100%
  );
  .navbar {
    padding: 0.35rem 1rem;
  }
  .nav-item {
    .nav-link {
      color: var(--white);
      font-weight: 600;
      text-shadow: none;
    }
  }
}
// .main-nav:after {
//   z-index: 777;
//   content: "";
//   position: absolute;
//   background-image: linear-gradient(
//     90deg,
//     rgba(0, 0, 0, 0.1) 5%,
//     rgba(0, 0, 0, 0.1) 42%,
//     rgba(0, 0, 0, 0.1) 100%
//   );
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
// .navigation {
//   width: 100%;
//   position: fixed;
//   z-index: 99999;
//   left: 0;
//   right: 0;
//   top: 0;
//   transition: all 0.2s ease-in;
//   .nav-item {
//     // margin: 0rem 0.5rem;
//   }
// }
// .logos {
//   height: 32px;
// }
// .header {
//   width: 100%;
//   margin: auto;
//   position: fixed;
//   z-index: 99999;
//   left: 0;
//   right: 0;
//   top: 0;
//   // background-color: rgba(255, 255, 255, 0.574);
//   background: rgb(19, 7, 99);
//   transition: background-color 100ms ease-out;
//   color: #5e5e5e;
//   background: linear-gradient(
//     90deg,
//     rgba(19, 7, 99, 0.935) 0%,
//     rgba(12, 4, 57, 0.939) 100%
//   );

// .navbar-brand {
// span {
//   color: #5e5e5e;
// }
// }
// .nav-item {
//   color: #5e5e5e;
// }
// .nav-link {
//   color: #5e5e5e;
// }
// }
// .upper {
//   height: 0.3rem;
//   background: #05bbe8;
//   z-index: 9999;
//   position: absolute;
// }

// .navbar {
//   top: 10%;
// }

// .upper-nav {
//   .text-wrapper {
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     .sm-upper {
//       margin: 0;
//       font-weight: 300;
//       color: #565656;
//       font-size: 11.5px;
//       line-height: 0.7rem;
//     }
//     h3 {
//       margin: 0;
//       font-weight: 700;
//       font-size: 15px;
//       color: #565656;
//     }
//   }
//   .icon-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;

//     .icon-list {
//       font-size: 23px;
//       cursor: pointer;
//       margin-left: 0.7rem;
//       color: #565656;
//     }

//     .icon-list:hover {
//       color: #05bbe8;
//       transition: 0.1s ease-in;
//     }
//   }
// }

// .img-wrap {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   padding-right: 0;
//   .navbar-brand {
//     margin-right: 0;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     img {
//       width: 60%;
//       display: block;
//       margin: auto;
//     }
//   }
// }

// .nav-list {
//   background-color: #05bbe8;
//   color: var(--white);

//   background-image: linear-gradient(
//       90deg,
//       rgba(68, 189, 230, 0.511) 0%,
//       #05bbe8b8 100%
//     ),
//     url("./../../assets/images/mosaic.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;
//   .nav-item {
//     .nav-link {
//       color: var(--white);
//       font-weight: 500;
//     }
//     .nav-link:hover {
//       background-color: #1f91ae;
//       font-weight: 500;
//       border-radius: 5px;
//     }
//   }
// }

// .dropdown-menu {
//   background-color: #05bbe88b;
//   color: var(--white);

//   background-image: linear-gradient(
//       90deg,
//       rgba(68, 189, 230, 0.511) 0%,
//       #05bbe8b8 100%
//     ),
//     url("./../../assets/images/mosaic.jpg");
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;

//   .dropdown-item:hover {
//     background-color: #1f91ae;
//   }
// }

// .progress-container {
//   width: 100%;
//   height: 5px;
//   background: rgba(204, 204, 204, 0.58);
//   position: sticky;
//   top: 17%;
//   z-index: 9999;
// }

// .progress-bar {
//   height: 5px;
//   background: #05bbe8;
//   width: 0%;
// }

.custom-toggler.navbar-toggler {
  border-color: var(--white);
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.router-active {
  // background-color: #1f91ae;
  background-color: var(--accent-300);
  color: var(--neutral-500) !important;
  font-weight: 500;
  border-radius: 5px;
}

.dropdown-item {
  padding: 8px 16px;
}

ul.dropdown-menu {
  padding: 0;
  border-radius: 0;

  &.show .dropdown-item {
    border-radius: 0;
    &:active {
      background-color: var(--neutral-200);
      color: #212529;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-nav {
    padding: 0;
    padding: 0.35rem 1rem;
  }
  .header {
    padding: 0;
    padding: 0.35rem 1rem;
  }
} /* Set the border color */
