<div class="container-fluid upper"></div>
<div class="container upper-nav">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-3 img-wrap">
          <a class="navbar-brand" href="#">
            <img
              src="../../assets/images/burgos-logo.png"
              class="img-fluid"
              alt=""
            />
          </a>
        </div>
        <div class="col-9 text-wrapper" style="padding-left: 0">
          <p class="sm-upper">Republic of the Philippines</p>
          <h3>Municipality of Burgos</h3>
          <p class="sm-upper">Ilocos Norte, Philippines</p>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4 icon-wrapper">
      <i class="bi bi-facebook icon-list"></i
      ><i class="bi bi-instagram icon-list"></i>
      <i class="bi bi-twitter icon-list"></i
      ><i class="bi bi-google icon-list"></i>
    </div>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-lg nav-list">
  <div class="container">
    <button
      class="navbar-toggler justify-content-end custom-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border-color: #fff"
    >
      <span style="border-color: #fff" class="navbar-toggler-icon"></span>
    </button>
    <div
      class="nav nav-responsive justify-content-center collapse navbar-collapse"
      id="navbarTogglerDemo03"
    >
      <ul class="nav nav-responsive justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
            >About Us</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/about-us/history"
                >History</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/about-us/logo-meaning"
                >Meaning of logo</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/about-us/geographic-info"
                >Geographical Information</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/legislative">Legislative</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/transparency">Transparency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tourism">Tourism</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/citizen-charter"
            >Citizen's Charter</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/announcement">Announcement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/career">Career</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/emergency-hotline"
            >Emergency Hotline</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
