.add-btn,
.delete-btn {
  border: none;
  background-color: transparent;
}
.delete-btn {
  position: absolute;
  top: 13px;
  right: 17px;

  mat-icon {
    color: #d0392b;
  }
}
.delete-btn:hover {
  mat-icon {
    color: #f84535;
  }
  span {
    color: #7c534f;
  }
}
.add-btn {
  float: left;
  // margin-top: 30px;
  mat-icon {
    color: #3e692f;
  }
}
.add-btn:hover {
  mat-icon {
    color: #4f853b;
  }
  span {
    color: #35512b;
  }
}
.card {
  // margin-bottom: 10px;
  border-radius: 5px;
  background: #ffff;
  box-shadow: 5px 5px 10px #bfc7c9;
  width: 100%;
  padding: 0px 20px 0px 20px;
}
.submit-btn {
  float: right;
  border: 2px solid #0f8aa8;
}
span {
  position: relative;
  bottom: 6px;
  left: 8px;
}

.buttons {
  padding-bottom: 30px;
  // margin-right: 7rem;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  background: none;
}
.mayors {
  padding-bottom: 20px;
}
.line {
  border: 2px solid black;
}
