<app-spinner *ngIf="loading"></app-spinner>

<div [formGroup]="officials" class="mayor" *ngIf="!loading">
  <div class="one">
    <h1>Manage Mayors' List</h1>
  </div>
  <div style="padding-bottom: 50px">
    <button
      style="background-color: #0f8aa8; color: #fff; float: left"
      mat-raised-button
      color="primary"
      (click)="submit()"
    >
      SAVE
    </button>
    <button
      style="float: right"
      mat-raised-button
      class="add-btn"
      (click)="addMayor()"
    >
      <mat-icon style="color: #3e692f; margin-right: 2px">add_circle</mat-icon>
      <span>Add Mayor</span>
    </button>
  </div>

  <div formArrayName="mayors">
    <div class="timeline-container">
      <div class="timeline">
        <div class="center-line"></div>
        <ng-container
          *ngFor="let mayor of getMayors().controls; let i = index"
          [formGroupName]="i"
        >
          <div class="timeline-event">
            <section class="timeline-card">
              <div class="timeline-dot"></div>
              <button
                class="delete-btn"
                style="float: right"
                (click)="deleteMayor(i)"
              >
                Delete
              </button>
              <div class="timeline-point-track-container">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input
                    style="color: black"
                    matInput
                    placeholder="Name"
                    formControlName="name"
                    type="text"
                    required="true"
                  />
                </mat-form-field>
                <br />
                <br />
                <mat-form-field appearance="outline">
                  <mat-label>Year</mat-label>
                  <input
                    style="color: black"
                    matInput
                    placeholder="Year"
                    formControlName="date"
                    type="text"
                    required="true"
                  />
                </mat-form-field>
              </div>
            </section>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
