.close-btn {
  margin-right: -4px !important;
  margin-top: -60px !important;
  float: right;
  cursor: pointer;
}
.main {
  margin: auto;
  padding-bottom: 2;
  width: 100%;
  .img-container {
    width: 40%;
    height: 25vh;
    background-color: #f9f8fd;
    margin: auto;
    margin-bottom: 2rem;
  }
}
